.bg-primary {
  background-color: var(--pendeza-primary);
}

.bg-primary.lighten-1 {
  background-color: var(--pendeza-primary-lighten-1);
}

.bg-primary.lighten-2 {
  background-color: var(--pendeza-primary-lighten-2);
}

.bg-primary.lighten-3 {
  background-color: var(--pendeza-primary-lighten-3);
}

.bg-primary.lighten-4 {
  background-color: var(--pendeza-primary-lighten-4);
}

.bg-primary.darken-1 {
  background-color: var(--pendeza-primary-darken-1);
}

.bg-primary.darken-2 {
  background-color: var(--pendeza-primary-darken-2);
}

.bg-primary.darken-3 {
  background-color: var(--pendeza-primary-darken-3);
}

.bg-primary.darken-4 {
  background-color: var(--pendeza-primary-darken-4);
}

.bg-secondary {
  background-color: var(--pendeza-secondary);
}

.bg-secondary.lighten-1 {
  background-color: var(--pendeza-secondary-lighten-1);
}

.bg-secondary.lighten-2 {
  background-color: var(--pendeza-secondary-lighten-2);
}

.bg-secondary.lighten-3 {
  background-color: var(--pendeza-secondary-lighten-3);
}

.bg-secondary.lighten-4 {
  background-color: var(--pendeza-secondary-lighten-4);
}

.bg-secondary.darken-1 {
  background-color: var(--pendeza-secondary-darken-1);
}

.bg-secondary.darken-2 {
  background-color: var(--pendeza-secondary-darken-2);
}

.bg-secondary.darken-3 {
  background-color: var(--pendeza-secondary-darken-3);
}

.bg-secondary.darken-4 {
  background-color: var(--pendeza-secondary-darken-4);
}

.bg-success {
  background-color: var(--pendeza-success);
}

.bg-success.lighten-1 {
  background-color: var(--pendeza-success-lighten-1);
}

.bg-success.lighten-2 {
  background-color: var(--pendeza-success-lighten-2);
}

.bg-success.lighten-3 {
  background-color: var(--pendeza-success-lighten-3);
}

.bg-success.lighten-4 {
  background-color: var(--pendeza-success-lighten-4);
}

.bg-success.darken-1 {
  background-color: var(--pendeza-success-darken-1);
}

.bg-success.darken-2 {
  background-color: var(--pendeza-success-darken-2);
}

.bg-success.darken-3 {
  background-color: var(--pendeza-success-darken-3);
}

.bg-success.darken-4 {
  background-color: var(--pendeza-success-darken-4);
}

.bg-danger {
  background-color: var(--pendeza-danger);
}

.bg-danger.lighten-1 {
  background-color: var(--pendeza-danger-lighten-1);
}

.bg-danger.lighten-2 {
  background-color: var(--pendeza-danger-lighten-2);
}

.bg-danger.lighten-3 {
  background-color: var(--pendeza-danger-lighten-3);
}

.bg-danger.lighten-4 {
  background-color: var(--pendeza-danger-lighten-4);
}

.bg-danger.darken-1 {
  background-color: var(--pendeza-danger-darken-1);
}

.bg-danger.darken-2 {
  background-color: var(--pendeza-danger-darken-2);
}

.bg-danger.darken-3 {
  background-color: var(--pendeza-danger-darken-3);
}

.bg-danger.darken-4 {
  background-color: var(--pendeza-danger-darken-4);
}

.bg-warning {
  background-color: var(--pendeza-warning);
}

.bg-warning.lighten-1 {
  background-color: var(--pendeza-warning-lighten-1);
}

.bg-warning.lighten-2 {
  background-color: var(--pendeza-warning-lighten-2);
}

.bg-warning.lighten-3 {
  background-color: var(--pendeza-warning-lighten-3);
}

.bg-warning.lighten-4 {
  background-color: var(--pendeza-warning-lighten-4);
}

.bg-warning.darken-1 {
  background-color: var(--pendeza-warning-darken-1);
}

.bg-warning.darken-2 {
  background-color: var(--pendeza-warning-darken-2);
}

.bg-warning.darken-3 {
  background-color: var(--pendeza-warning-darken-3);
}

.bg-warning.darken-4 {
  background-color: var(--pendeza-warning-darken-4);
}

.bg-muted {
  background-color: var(--pendeza-muted);
}

.bg-muted.lighten-1 {
  background-color: var(--pendeza-muted-lighten-1);
}

.bg-muted.lighten-2 {
  background-color: var(--pendeza-muted-lighten-2);
}

.bg-muted.lighten-3 {
  background-color: var(--pendeza-muted-lighten-3);
}

.bg-muted.lighten-4 {
  background-color: var(--pendeza-muted-lighten-4);
}

.bg-muted.darken-1 {
  background-color: var(--pendeza-muted-darken-1);
}

.bg-muted.darken-2 {
  background-color: var(--pendeza-muted-darken-2);
}

.bg-muted.darken-3 {
  background-color: var(--pendeza-muted-darken-3);
}

.bg-muted.darken-4 {
  background-color: var(--pendeza-muted-darken-4);
}

.bg-dark {
  background-color: var(--pendeza-dark);
}

.bg-dark.lighten-1 {
  background-color: var(--pendeza-dark-lighten-1);
}

.bg-dark.lighten-2 {
  background-color: var(--pendeza-dark-lighten-2);
}

.bg-dark.lighten-3 {
  background-color: var(--pendeza-dark-lighten-3);
}

.bg-dark.lighten-4 {
  background-color: var(--pendeza-dark-lighten-4);
}

.bg-dark.darken-1 {
  background-color: var(--pendeza-dark-darken-1);
}

.bg-dark.darken-2 {
  background-color: var(--pendeza-dark-darken-2);
}

.bg-dark.darken-3 {
  background-color: var(--pendeza-dark-darken-3);
}

.bg-dark.darken-4 {
  background-color: var(--pendeza-dark-darken-4);
}

.bg-light {
  background-color: var(--pendeza-light);
}

.bg-light.lighten-1 {
  background-color: var(--pendeza-light-lighten-1);
}

.bg-light.lighten-2 {
  background-color: var(--pendeza-light-lighten-2);
}

.bg-light.lighten-3 {
  background-color: var(--pendeza-light-lighten-3);
}

.bg-light.lighten-4 {
  background-color: var(--pendeza-light-lighten-4);
}

.bg-light.darken-1 {
  background-color: var(--pendeza-light-darken-1);
}

.bg-light.darken-2 {
  background-color: var(--pendeza-light-darken-2);
}

.bg-light.darken-3 {
  background-color: var(--pendeza-light-darken-3);
}

.bg-light.darken-4 {
  background-color: var(--pendeza-light-darken-4);
}

.bg-blue {
  background-color: var(--pendeza-blue);
}

.bg-blue.lighten-1 {
  background-color: var(--pendeza-blue-lighten-1);
}

.bg-blue.lighten-2 {
  background-color: var(--pendeza-blue-lighten-2);
}

.bg-blue.lighten-3 {
  background-color: var(--pendeza-blue-lighten-3);
}

.bg-blue.lighten-4 {
  background-color: var(--pendeza-blue-lighten-4);
}

.bg-blue.darken-1 {
  background-color: var(--pendeza-blue-darken-1);
}

.bg-blue.darken-2 {
  background-color: var(--pendeza-blue-darken-2);
}

.bg-blue.darken-3 {
  background-color: var(--pendeza-blue-darken-3);
}

.bg-blue.darken-4 {
  background-color: var(--pendeza-blue-darken-4);
}

.bg-green {
  background-color: var(--pendeza-green);
}

.bg-green.lighten-1 {
  background-color: var(--pendeza-green-lighten-1);
}

.bg-green.lighten-2 {
  background-color: var(--pendeza-green-lighten-2);
}

.bg-green.lighten-3 {
  background-color: var(--pendeza-green-lighten-3);
}

.bg-green.lighten-4 {
  background-color: var(--pendeza-green-lighten-4);
}

.bg-green.darken-1 {
  background-color: var(--pendeza-green-darken-1);
}

.bg-green.darken-2 {
  background-color: var(--pendeza-green-darken-2);
}

.bg-green.darken-3 {
  background-color: var(--pendeza-green-darken-3);
}

.bg-green.darken-4 {
  background-color: var(--pendeza-green-darken-4);
}

.bg-yellow {
  background-color: var(--pendeza-yellow);
}

.bg-yellow.lighten-1 {
  background-color: var(--pendeza-yellow-lighten-1);
}

.bg-yellow.lighten-2 {
  background-color: var(--pendeza-yellow-lighten-2);
}

.bg-yellow.lighten-3 {
  background-color: var(--pendeza-yellow-lighten-3);
}

.bg-yellow.lighten-4 {
  background-color: var(--pendeza-yellow-lighten-4);
}

.bg-yellow.darken-1 {
  background-color: var(--pendeza-yellow-darken-1);
}

.bg-yellow.darken-2 {
  background-color: var(--pendeza-yellow-darken-2);
}

.bg-yellow.darken-3 {
  background-color: var(--pendeza-yellow-darken-3);
}

.bg-yellow.darken-4 {
  background-color: var(--pendeza-yellow-darken-4);
}

.bg-bg-orange {
  background-color: var(--pendeza-orange);
}

.bg-orange.lighten-1 {
  background-color: var(--pendeza-orange-lighten-1);
}

.bg-orange.lighten-2 {
  background-color: var(--pendeza-orange-lighten-2);
}

.bg-orange.lighten-3 {
  background-color: var(--pendeza-orange-lighten-3);
}

.bg-orange.lighten-4 {
  background-color: var(--pendeza-orange-lighten-4);
}

.bg-orange.darken-1 {
  background-color: var(--pendeza-orange-darken-1);
}

.bg-orange.darken-2 {
  background-color: var(--pendeza-orange-darken-2);
}

.bg-orange.darken-3 {
  background-color: var(--pendeza-orange-darken-3);
}

.bg-orange.darken-4 {
  background-color: var(--pendeza-orange-darken-4);
}

.bg-pink {
  background-color: var(--pendeza-pink);
}

.bg-pink.lighten-1 {
  background-color: var(--pendeza-pink-lighten-1);
}

.bg-pink.lighten-2 {
  background-color: var(--pendeza-pink-lighten-2);
}

.bg-pink.lighten-3 {
  background-color: var(--pendeza-pink-lighten-3);
}

.bg-pink.lighten-4 {
  background-color: var(--pendeza-pink-lighten-4);
}

.bg-pink.darken-1 {
  background-color: var(--pendeza-pink-darken-1);
}

.bg-pink.darken-2 {
  background-color: var(--pendeza-pink-darken-2);
}

.bg-pink.darken-3 {
  background-color: var(--pendeza-pink-darken-3);
}

.bg-pink.darken-4 {
  background-color: var(--pendeza-pink-darken-4);
}

.bg-red {
  background-color: var(--pendeza-red);
}

.bg-red.lighten-1 {
  background-color: var(--pendeza-red-lighten-1);
}

.bg-red.lighten-2 {
  background-color: var(--pendeza-red-lighten-2);
}

.bg-red.lighten-3 {
  background-color: var(--pendeza-red-lighten-3);
}

.bg-red.lighten-4 {
  background-color: var(--pendeza-red-lighten-4);
}

.bg-red.darken-1 {
  background-color: var(--pendeza-red-darken-1);
}

.bg-red.darken-2 {
  background-color: var(--pendeza-red-darken-2);
}

.bg-red.darken-3 {
  background-color: var(--pendeza-red-darken-3);
}

.bg-red.darken-4 {
  background-color: var(--pendeza-red-darken-4);
}

.bg-purple {
  background-color: var(--pendeza-purple);
}

.bg-purple.lighten-1 {
  background-color: var(--pendeza-purple-lighten-1);
}

.bg-purple.lighten-2 {
  background-color: var(--pendeza-purple-lighten-2);
}

.bg-purple.lighten-3 {
  background-color: var(--pendeza-purple-lighten-3);
}

.bg-purple.lighten-4 {
  background-color: var(--pendeza-purple-lighten-4);
}

.bg-purple.darken-1 {
  background-color: var(--pendeza-purple-darken-1);
}

.bg-purple.darken-2 {
  background-color: var(--pendeza-purple-darken-2);
}

.bg-purple.darken-3 {
  background-color: var(--pendeza-purple-darken-3);
}

.bg-purple.darken-4 {
  background-color: var(--pendeza-purple-darken-4);
}

.bg-teal {
  background-color: var(--pendeza-teal);
}

.bg-teal.lighten-1 {
  background-color: var(--pendeza-teal-lighten-1);
}

.bg-teal.lighten-2 {
  background-color: var(--pendeza-teal-lighten-2);
}

.bg-teal.lighten-3 {
  background-color: var(--pendeza-teal-lighten-3);
}

.bg-teal.lighten-4 {
  background-color: var(--pendeza-teal-lighten-4);
}

.bg-teal.darken-1 {
  background-color: var(--pendeza-teal-darken-1);
}

.bg-teal.darken-2 {
  background-color: var(--pendeza-teal-darken-2);
}

.bg-teal.darken-3 {
  background-color: var(--pendeza-teal-darken-3);
}

.bg-teal.darken-4 {
  background-color: var(--pendeza-teal-darken-4);
}

.bg-indigo {
  background-color: var(--pendeza-indigo);
}

.bg-indigo.lighten-1 {
  background-color: var(--pendeza-indigo-lighten-1);
}

.bg-indigo.lighten-2 {
  background-color: var(--pendeza-indigo-lighten-2);
}

.bg-indigo.lighten-3 {
  background-color: var(--pendeza-indigo-lighten-3);
}

.bg-indigo.lighten-4 {
  background-color: var(--pendeza-indigo-lighten-4);
}

.bg-indigo.darken-1 {
  background-color: var(--pendeza-indigo-darken-1);
}

.bg-indigo.darken-2 {
  background-color: var(--pendeza-indigo-darken-2);
}

.bg-indigo.darken-3 {
  background-color: var(--pendeza-indigo-darken-3);
}

.bg-indigo.darken-4 {
  background-color: var(--pendeza-indigo-darken-4);
}

.bg-brown {
  background-color: var(--pendeza-brown);
}

.bg-brown.lighten-1 {
  background-color: var(--pendeza-brown-lighten-1);
}

.bg-brown.lighten-2 {
  background-color: var(--pendeza-brown-lighten-2);
}

.bg-brown.lighten-3 {
  background-color: var(--pendeza-brown-lighten-3);
}

.bg-brown.lighten-4 {
  background-color: var(--pendeza-brown-lighten-4);
}

.bg-brown.darken-1 {
  background-color: var(--pendeza-brown-darken-1);
}

.bg-brown.darken-2 {
  background-color: var(--pendeza-brown-darken-2);
}

.bg-brown.darken-3 {
  background-color: var(--pendeza-brown-darken-3);
}

.bg-brown.darken-4 {
  background-color: var(--pendeza-brown-darken-4);
}

.bg-violet {
  background-color: var(--pendeza-violet);
}

.bg-violet.lighten-1 {
  background-color: var(--pendeza-violet-lighten-1);
}

.bg-violet.lighten-2 {
  background-color: var(--pendeza-violet-lighten-2);
}

.bg-violet.lighten-3 {
  background-color: var(--pendeza-violet-lighten-3);
}

.bg-violet.lighten-4 {
  background-color: var(--pendeza-violet-lighten-4);
}

.bg-violet.darken-1 {
  background-color: var(--pendeza-violet-darken-1);
}

.bg-violet.darken-2 {
  background-color: var(--pendeza-violet-darken-2);
}

.bg-violet.darken-3 {
  background-color: var(--pendeza-violet-darken-3);
}

.bg-violet.darken-4 {
  background-color: var(--pendeza-violet-darken-4);
}

.bg-grey {
  background-color: var(--pendeza-grey);
}

.bg-grey.lighten-1 {
  background-color: var(--pendeza-grey-lighten-1);
}

.bg-grey.lighten-2 {
  background-color: var(--pendeza-grey-lighten-2);
}

.bg-grey.lighten-3 {
  background-color: var(--pendeza-grey-lighten-3);
}

.bg-grey.lighten-4 {
  background-color: var(--pendeza-grey-lighten-4);
}

.bg-grey.darken-1 {
  background-color: var(--pendeza-grey-darken-1);
}

.bg-grey.darken-2 {
  background-color: var(--pendeza-grey-darken-2);
}

.bg-grey.darken-3 {
  background-color: var(--pendeza-grey-darken-3);
}

.bg-grey.darken-4 {
  background-color: var(--pendeza-grey-darken-4);
}

.bg-black {
  background-color: var(--pendeza-black);
}

.bg-black.lighten-1 {
  background-color: var(--pendeza-black-lighten-1);
}

.bg-black.lighten-2 {
  background-color: var(--pendeza-black-lighten-2);
}

.bg-black.lighten-3 {
  background-color: var(--pendeza-black-lighten-3);
}

.bg-black.lighten-4 {
  background-color: var(--pendeza-black-lighten-4);
}

.bg-black.darken-1 {
  background-color: var(--pendeza-black-darken-1);
}

.bg-black.darken-2 {
  background-color: var(--pendeza-black-darken-2);
}

.bg-black.darken-3 {
  background-color: var(--pendeza-black-darken-3);
}

.bg-black.darken-4 {
  background-color: var(--pendeza-black-darken-4);
}

.bg-primary\:hover:hover {
  background-color: var(--pendeza-primary);
}

.bg-primary\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-primary-lighten-1);
}

.bg-primary\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-primary-lighten-2);
}

.bg-primary\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-primary-lighten-3);
}

.bg-primary\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-primary-lighten-4);
}

.bg-primary\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-primary-darken-1);
}

.bg-primary\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-primary-darken-2);
}

.bg-primary\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-primary-darken-3);
}

.bg-primary\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-primary-darken-4);
}

.bg-secondary\:hover:hover {
  background-color: var(--pendeza-secondary);
}

.bg-secondary\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-1);
}

.bg-secondary\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-2);
}

.bg-secondary\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-3);
}

.bg-secondary\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-secondary-lighten-4);
}

.bg-secondary\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-secondary-darken-1);
}

.bg-secondary\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-secondary-darken-2);
}

.bg-secondary\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-secondary-darken-3);
}

.bg-secondary\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-secondary-darken-4);
}

.bg-success\:hover:hover {
  background-color: var(--pendeza-success);
}

.bg-success\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-success-lighten-1);
}

.bg-success\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-success-lighten-2);
}

.bg-success\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-success-lighten-3);
}

.bg-success\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-success-lighten-4);
}

.bg-success\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-success-darken-1);
}

.bg-success\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-success-darken-2);
}

.bg-success\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-success-darken-3);
}

.bg-success\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-success-darken-4);
}

.bg-danger\:hover:hover {
  background-color: var(--pendeza-danger);
}

.bg-danger\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-danger-lighten-1);
}

.bg-danger\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-danger-lighten-2);
}

.bg-danger\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-danger-lighten-3);
}

.bg-danger\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-danger-lighten-4);
}

.bg-danger\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-danger-darken-1);
}

.bg-danger\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-danger-darken-2);
}

.bg-danger\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-danger-darken-3);
}

.bg-danger\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-danger-darken-4);
}

.bg-warning\:hover:hover {
  background-color: var(--pendeza-warning);
}

.bg-warning\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-warning-lighten-1);
}

.bg-warning\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-warning-lighten-2);
}

.bg-warning\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-warning-lighten-3);
}

.bg-warning\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-warning-lighten-4);
}

.bg-warning\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-warning-darken-1);
}

.bg-warning\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-warning-darken-2);
}

.bg-warning\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-warning-darken-3);
}

.bg-warning\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-warning-darken-4);
}

.bg-muted\:hover:hover {
  background-color: var(--pendeza-muted);
}

.bg-muted\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-muted-lighten-1);
}

.bg-muted\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-muted-lighten-2);
}

.bg-muted\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-muted-lighten-3);
}

.bg-muted\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-muted-lighten-4);
}

.bg-muted\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-muted-darken-1);
}

.bg-muted\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-muted-darken-2);
}

.bg-muted\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-muted-darken-3);
}

.bg-muted\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-muted-darken-4);
}

.bg-dark\:hover:hover {
  background-color: var(--pendeza-dark);
}

.bg-dark\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-dark-lighten-1);
}

.bg-dark\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-dark-lighten-2);
}

.bg-dark\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-dark-lighten-3);
}

.bg-dark\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-dark-lighten-4);
}

.bg-dark\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-dark-darken-1);
}

.bg-dark\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-dark-darken-2);
}

.bg-dark\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-dark-darken-3);
}

.bg-dark\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-dark-darken-4);
}

.bg-light\:hover:hover {
  background-color: var(--pendeza-light);
}

.bg-light\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-light-lighten-1);
}

.bg-light\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-light-lighten-2);
}

.bg-light\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-light-lighten-3);
}

.bg-light\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-light-lighten-4);
}

.bg-light\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-light-darken-1);
}

.bg-light\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-light-darken-2);
}

.bg-light\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-light-darken-3);
}

.bg-light\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-light-darken-4);
}

.bg-blue\:hover:hover {
  background-color: var(--pendeza-blue);
}

.bg-blue\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-blue-lighten-1);
}

.bg-blue\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-blue-lighten-2);
}

.bg-blue\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-blue-lighten-3);
}

.bg-blue\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-blue-lighten-4);
}

.bg-blue\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-blue-darken-1);
}

.bg-blue\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-blue-darken-2);
}

.bg-blue\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-blue-darken-3);
}

.bg-blue\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-blue-darken-4);
}

.bg-green\:hover:hover {
  background-color: var(--pendeza-green);
}

.bg-green\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-green-lighten-1);
}

.bg-green\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-green-lighten-2);
}

.bg-green\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-green-lighten-3);
}

.bg-green\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-green-lighten-4);
}

.bg-green\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-green-darken-1);
}

.bg-green\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-green-darken-2);
}

.bg-green\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-green-darken-3);
}

.bg-green\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-green-darken-4);
}

.bg-yellow\:hover:hover {
  background-color: var(--pendeza-yellow);
}

.bg-yellow\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-1);
}

.bg-yellow\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-2);
}

.bg-yellow\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-3);
}

.bg-yellow\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-yellow-lighten-4);
}

.bg-yellow\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-yellow-darken-1);
}

.bg-yellow\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-yellow-darken-2);
}

.bg-yellow\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-yellow-darken-3);
}

.bg-yellow\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-yellow-darken-4);
}

.bg-orange\:hover:hover {
  background-color: var(--pendeza-orange);
}

.bg-orange\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-orange-lighten-1);
}

.bg-orange\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-orange-lighten-2);
}

.bg-orange\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-orange-lighten-3);
}

.bg-orange\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-orange-lighten-4);
}

.bg-orange\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-orange-darken-1);
}

.bg-orange\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-orange-darken-2);
}

.bg-orange\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-orange-darken-3);
}

.bg-orange\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-orange-darken-4);
}

.bg-pink\:hover:hover {
  background-color: var(--pendeza-pink);
}

.bg-pink\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-pink-lighten-1);
}

.bg-pink\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-pink-lighten-2);
}

.bg-pink\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-pink-lighten-3);
}

.bg-pink\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-pink-lighten-4);
}

.bg-pink\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-pink-darken-1);
}

.bg-pink\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-pink-darken-2);
}

.bg-pink\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-pink-darken-3);
}

.bg-pink\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-pink-darken-4);
}

.bg-red\:hover:hover {
  background-color: var(--pendeza-red);
}

.bg-red\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-red-lighten-1);
}

.bg-red\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-red-lighten-2);
}

.bg-red\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-red-lighten-3);
}

.bg-red\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-red-lighten-4);
}

.bg-red\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-red-darken-1);
}

.bg-red\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-red-darken-2);
}

.bg-red\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-red-darken-3);
}

.bg-red\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-red-darken-4);
}

.bg-purple\:hover:hover {
  background-color: var(--pendeza-purple);
}

.bg-purple\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-purple-lighten-1);
}

.bg-purple\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-purple-lighten-2);
}

.bg-purple\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-purple-lighten-3);
}

.bg-purple\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-purple-lighten-4);
}

.bg-purple\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-purple-darken-1);
}

.bg-purple\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-purple-darken-2);
}

.bg-purple\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-purple-darken-3);
}

.bg-purple\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-purple-darken-4);
}

.bg-teal\:hover:hover {
  background-color: var(--pendeza-teal);
}

.bg-teal\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-teal-lighten-1);
}

.bg-teal\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-teal-lighten-2);
}

.bg-teal\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-teal-lighten-3);
}

.bg-teal\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-teal-lighten-4);
}

.bg-teal\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-teal-darken-1);
}

.bg-teal\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-teal-darken-2);
}

.bg-teal\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-teal-darken-3);
}

.bg-teal\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-teal-darken-4);
}

.bg-indigo\:hover:hover {
  background-color: var(--pendeza-indigo);
}

.bg-indigo\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-1);
}

.bg-indigo\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-2);
}

.bg-indigo\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-3);
}

.bg-indigo\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-indigo-lighten-4);
}

.bg-indigo\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-indigo-darken-1);
}

.bg-indigo\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-indigo-darken-2);
}

.bg-indigo-\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-indigo-darken-3);
}

.bg-indigo\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-indigo-darken-4);
}

.bg-brown\:hover:hover {
  background-color: var(--pendeza-brown);
}

.bg-brown\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-brown-lighten-1);
}

.bg-brown\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-brown-lighten-2);
}

.bg-brown\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-brown-lighten-3);
}

.bg-brown\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-brown-lighten-4);
}

.bg-brown\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-brown-darken-1);
}

.bg-brown\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-brown-darken-2);
}

.bg-brown\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-brown-darken-3);
}

.bg-brown\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-brown-darken-4);
}

.bg-violet\:hover:hover:hover:hover {
  background-color: var(--pendeza-violet);
}

.bg-violet\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-violet-lighten-1);
}

.bg-violet\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-violet-lighten-2);
}

.bg-violet\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-violet-lighten-3);
}

.bg-violet\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-violet-lighten-4);
}

.bg-violet\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-violet-darken-1);
}

.bg-violet\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-violet-darken-2);
}

.bg-violet\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-violet-darken-3);
}

.bg-violet\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-violet-darken-4);
}

.bg-grey\:hover:hover {
  background-color: var(--pendeza-grey);
}

.bg-grey\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-grey-lighten-1);
}

.bg-grey\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-grey-lighten-2);
}

.bg-grey\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-grey-lighten-3);
}

.bg-grey\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-grey-lighten-4);
}

.bg-grey\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-grey-darken-1);
}

.bg-grey\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-grey-darken-2);
}

.bg-grey\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-grey-darken-3);
}

.bg-grey\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-grey-darken-4);
}

.bg-black\:hover:hover {
  background-color: var(--pendeza-black);
}

.bg-black\:hover:hover.lighten-1\:hover:hover {
  background-color: var(--pendeza-black-lighten-1);
}

.bg-black\:hover:hover.lighten-2\:hover:hover {
  background-color: var(--pendeza-black-lighten-2);
}

.bg-black\:hover:hover.lighten-3\:hover:hover {
  background-color: var(--pendeza-black-lighten-3);
}

.bg-black\:hover:hover.lighten-4\:hover:hover {
  background-color: var(--pendeza-black-lighten-4);
}

.bg-black\:hover:hover.darken-1\:hover:hover {
  background-color: var(--pendeza-black-darken-1);
}

.bg-black\:hover:hover.darken-2\:hover:hover {
  background-color: var(--pendeza-black-darken-2);
}

.bg-black\:hover:hover.darken-3\:hover:hover {
  background-color: var(--pendeza-black-darken-3);
}

.bg-black\:hover:hover.darken-4\:hover:hover {
  background-color: var(--pendeza-black-darken-4);
}

.bg-primary\:focus:focus {
  background-color: var(--pendeza-primary);
}

.bg-primary\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-primary-lighten-1);
}

.bg-primary\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-primary-lighten-2);
}

.bg-primary\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-primary-lighten-3);
}

.bg-primary\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-primary-lighten-4);
}

.bg-primary\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-primary-darken-1);
}

.bg-primary\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-primary-darken-2);
}

.bg-primary\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-primary-darken-3);
}

.bg-primary\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-primary-darken-4);
}

.bg-secondary\:focus:focus {
  background-color: var(--pendeza-secondary);
}

.bg-secondary\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-1);
}

.bg-secondary\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-2);
}

.bg-secondary\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-3);
}

.bg-secondary\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-secondary-lighten-4);
}

.bg-secondary\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-secondary-darken-1);
}

.bg-secondary\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-secondary-darken-2);
}

.bg-secondary\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-secondary-darken-3);
}

.bg-secondary\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-secondary-darken-4);
}

.bg-success\:focus:focus {
  background-color: var(--pendeza-success);
}

.bg-success\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-success-lighten-1);
}

.bg-success\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-success-lighten-2);
}

.bg-success\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-success-lighten-3);
}

.bg-success\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-success-lighten-4);
}

.bg-success\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-success-darken-1);
}

.bg-success\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-success-darken-2);
}

.bg-success\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-success-darken-3);
}

.bg-success\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-success-darken-4);
}

.bg-danger\:focus:focus {
  background-color: var(--pendeza-danger);
}

.bg-danger\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-danger-lighten-1);
}

.bg-danger\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-danger-lighten-2);
}

.bg-danger\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-danger-lighten-3);
}

.bg-danger\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-danger-lighten-4);
}

.bg-danger\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-danger-darken-1);
}

.bg-danger\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-danger-darken-2);
}

.bg-danger\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-danger-darken-3);
}

.bg-danger\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-danger-darken-4);
}

.bg-warning\:focus:focus {
  background-color: var(--pendeza-warning);
}

.bg-warning\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-warning-lighten-1);
}

.bg-warning\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-warning-lighten-2);
}

.bg-warning\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-warning-lighten-3);
}

.bg-warning\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-warning-lighten-4);
}

.bg-warning\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-warning-darken-1);
}

.bg-warning\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-warning-darken-2);
}

.bg-warning\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-warning-darken-3);
}

.bg-warning\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-warning-darken-4);
}

.bg-muted\:focus:focus {
  background-color: var(--pendeza-muted);
}

.bg-muted\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-muted-lighten-1);
}

.bg-muted\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-muted-lighten-2);
}

.bg-muted\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-muted-lighten-3);
}

.bg-muted\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-muted-lighten-4);
}

.bg-muted\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-muted-darken-1);
}

.bg-muted\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-muted-darken-2);
}

.bg-muted\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-muted-darken-3);
}

.bg-muted\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-muted-darken-4);
}

.bg-dark\:focus:focus {
  background-color: var(--pendeza-dark);
}

.bg-dark\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-dark-lighten-1);
}

.bg-dark\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-dark-lighten-2);
}

.bg-dark\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-dark-lighten-3);
}

.bg-dark\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-dark-lighten-4);
}

.bg-dark\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-dark-darken-1);
}

.bg-dark\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-dark-darken-2);
}

.bg-dark\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-dark-darken-3);
}

.bg-dark\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-dark-darken-4);
}

.bg-light\:focus:focus {
  background-color: var(--pendeza-light);
}

.bg-light\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-light-lighten-1);
}

.bg-light\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-light-lighten-2);
}

.bg-light\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-light-lighten-3);
}

.bg-light\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-light-lighten-4);
}

.bg-light\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-light-darken-1);
}

.bg-light\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-light-darken-2);
}

.bg-light\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-light-darken-3);
}

.bg-light\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-light-darken-4);
}

.bg-blue\:focus:focus {
  background-color: var(--pendeza-blue);
}

.bg-blue\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-blue-lighten-1);
}

.bg-blue\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-blue-lighten-2);
}

.bg-blue\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-blue-lighten-3);
}

.bg-blue\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-blue-lighten-4);
}

.bg-blue\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-blue-darken-1);
}

.bg-blue\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-blue-darken-2);
}

.bg-blue\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-blue-darken-3);
}

.bg-blue\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-blue-darken-4);
}

.bg-green\:focus:focus {
  background-color: var(--pendeza-green);
}

.bg-green\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-green-lighten-1);
}

.bg-green\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-green-lighten-2);
}

.bg-green\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-green-lighten-3);
}

.bg-green\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-green-lighten-4);
}

.bg-green\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-green-darken-1);
}

.bg-green\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-green-darken-2);
}

.bg-green\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-green-darken-3);
}

.bg-green\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-green-darken-4);
}

.bg-yellow\:focus:focus {
  background-color: var(--pendeza-yellow);
}

.bg-yellow\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-1);
}

.bg-yellow\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-2);
}

.bg-yellow\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-3);
}

.bg-yellow\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-yellow-lighten-4);
}

.bg-yellow\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-yellow-darken-1);
}

.bg-yellow\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-yellow-darken-2);
}

.bg-yellow\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-yellow-darken-3);
}

.bg-yellow\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-yellow-darken-4);
}

.bg-orange\:focus:focus {
  background-color: var(--pendeza-orange);
}

.bg-orange\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-orange-lighten-1);
}

.bg-orange\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-orange-lighten-2);
}

.bg-orange\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-orange-lighten-3);
}

.bg-orange\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-orange-lighten-4);
}

.bg-orange\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-orange-darken-1);
}

.bg-orange\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-orange-darken-2);
}

.bg-orange\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-orange-darken-3);
}

.bg-orange\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-orange-darken-4);
}

.bg-pink\:focus:focus {
  background-color: var(--pendeza-pink);
}

.bg-pink\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-pink-lighten-1);
}

.bg-pink\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-pink-lighten-2);
}

.bg-pink\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-pink-lighten-3);
}

.bg-pink\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-pink-lighten-4);
}

.bg-pink\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-pink-darken-1);
}

.bg-pink\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-pink-darken-2);
}

.bg-pink\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-pink-darken-3);
}

.bg-pink\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-pink-darken-4);
}

.bg-red\:focus:focus {
  background-color: var(--pendeza-red);
}

.bg-red\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-red-lighten-1);
}

.bg-red\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-red-lighten-2);
}

.bg-red\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-red-lighten-3);
}

.bg-red\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-red-lighten-4);
}

.bg-red\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-red-darken-1);
}

.bg-red\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-red-darken-2);
}

.bg-red\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-red-darken-3);
}

.bg-red\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-red-darken-4);
}

.bg-purple\:focus:focus {
  background-color: var(--pendeza-purple);
}

.bg-purple\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-purple-lighten-1);
}

.bg-purple\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-purple-lighten-2);
}

.bg-purple\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-purple-lighten-3);
}

.bg-purple\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-purple-lighten-4);
}

.bg-purple\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-purple-darken-1);
}

.bg-purple\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-purple-darken-2);
}

.bg-purple\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-purple-darken-3);
}

.bg-purple\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-purple-darken-4);
}

.bg-teal\:focus:focus {
  background-color: var(--pendeza-teal);
}

.bg-teal\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-teal-lighten-1);
}

.bg-teal\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-teal-lighten-2);
}

.bg-teal\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-teal-lighten-3);
}

.bg-teal\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-teal-lighten-4);
}

.bg-teal\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-teal-darken-1);
}

.bg-teal\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-teal-darken-2);
}

.bg-teal\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-teal-darken-3);
}

.bg-teal\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-teal-darken-4);
}

.bg-indigo\:focus:focus {
  background-color: var(--pendeza-indigo);
}

.bg-indigo\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-1);
}

.bg-indigo\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-2);
}

.bg-indigo\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-3);
}

.bg-indigo\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-indigo-lighten-4);
}

.bg-indigo\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-indigo-darken-1);
}

.bg-indigo\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-indigo-darken-2);
}

.bg-indigo\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-indigo-darken-3);
}

.bg-indigo\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-indigo-darken-4);
}

.bg-brown\:focus:focus {
  background-color: var(--pendeza-brown);
}

.bg-brown\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-brown-lighten-1);
}

.bg-brown\:focus:focus.lighten-2\:focus-hovered {
  background-color: var(--pendeza-brown-lighten-2);
}

.bg-brown\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-brown-lighten-3);
}

.bg-brown\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-brown-lighten-4);
}

.bg-brown\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-brown-darken-1);
}

.bg-brown\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-brown-darken-2);
}

.bg-brown\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-brown-darken-3);
}

.bg-brown\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-brown-darken-4);
}

.bg-violet\:focus:focus-\:focus:focus {
  background-color: var(--pendeza-violet);
}

.bg-violet\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-violet-lighten-1);
}

.bg-violet\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-violet-lighten-2);
}

.bg-violet\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-violet-lighten-3);
}

.bg-violet\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-violet-lighten-4);
}

.bg-violet\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-violet-darken-1);
}

.bg-violet\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-violet-darken-2);
}

.bg-violet\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-violet-darken-3);
}

.bg-violet\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-violet-darken-4);
}

.bg-grey\:focus:focus {
  background-color: var(--pendeza-grey);
}

.bg-grey\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-grey-lighten-1);
}

.bg-grey\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-grey-lighten-2);
}

.bg-grey\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-grey-lighten-3);
}

.bg-grey\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-grey-lighten-4);
}

.bg-grey\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-grey-darken-1);
}

.bg-grey\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-grey-darken-2);
}

.bg-grey\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-grey-darken-3);
}

.bg-grey\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-grey-darken-4);
}

.bg-black\:focus:focus {
  background-color: var(--pendeza-black);
}

.bg-black\:focus:focus.lighten-1\:focus:focus {
  background-color: var(--pendeza-black-lighten-1);
}

.bg-black\:focus:focus.lighten-2\:focus:focus {
  background-color: var(--pendeza-black-lighten-2);
}

.bg-black\:focus:focus.lighten-3\:focus:focus {
  background-color: var(--pendeza-black-lighten-3);
}

.bg-black\:focus:focus.lighten-4\:focus:focus {
  background-color: var(--pendeza-black-lighten-4);
}

.bg-black\:focus:focus.darken-1\:focus:focus {
  background-color: var(--pendeza-black-darken-1);
}

.bg-black\:focus:focus.darken-2\:focus:focus {
  background-color: var(--pendeza-black-darken-2);
}

.bg-black\:focus:focus.darken-3\:focus:focus {
  background-color: var(--pendeza-black-darken-3);
}

.bg-black\:focus:focus.darken-4\:focus:focus {
  background-color: var(--pendeza-black-darken-4);
}
