.btn {
  font-family: var(--pendeza-sans-serif);
  border: var(--pendeza-dark) solid 0.08rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
  transition: opacity 500ms ease-out;
}

.btn.btn-link:hover {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.5s ease;
  transition: -webkit-text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease;
  transition: text-decoration 0.5s ease, -webkit-text-decoration 0.5s ease;
}

.btn.active {
  background-color: var(--pendeza-primary);
}

.btn.disabled {
  background-color: var(--pendeza-muted);
  cursor: not-allowed;
}

.btn.btn-xxs {
  font-size: 0.7rem;
}

.btn.btn-xs {
  font-size: 0.8rem;
}

.btn.btn-sm {
  font-size: 0.9rem;
}

.btn.btn-md {
  font-size: 1rem;
}

.btn.btn-lg {
  font-size: 1.1rem;
}

.btn.btn-xl {
  font-size: 1.2rem;
}

.btn.btn-xxl {
  font-size: 1.3rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  overflow: hidden;

  .btn.btn-group-item {
    margin: 0;
  }
}
