@mixin responsive {
  width: 100%;
  height: auto;
}

.responsive,
.img-responsive,
.video-responsive {
  @include responsive;
}

.img-circle, .video-cricle, .circle {
  border-radius: 50%;
}

.img-oval, .video-oval, .oval {
  border-radius: 35%;
}
