.left-0,
.left-0\@phone {
  left: 0;
}

.left-0\.5,
.left-0\@phone {
  left: 0.25rem;
}

.left-1,
.left-1\@phone {
  left: 0.5rem;
}

.left-1\.5,
.left-1\.5\@phone {
  left: 0.75rem;
}

.left-2,
.left-2\@phone {
  left: 1rem;
}

.left-2\.5,
.left-2\.5\@phone {
  left: 1.25rem;
}

.left-3,
.left-3\@phone {
  left: 1.5rem;
}

.left-3\.5,
.left-3\.5\@phone {
  left: 1.75rem;
}

.left-4,
.left-4\@phone {
  left: 2rem;
}

.left-4\.5,
.left-4\.5\@phone {
  left: 2.25rem;
}

.left-5,
.left-5\@phone {
  left: 2.5rem;
}

.left-5\.5,
.left-5\.5\@phone {
  left: 2.75rem;
}

.left-6,
.left-6\@phone {
  left: 3rem;
}

.left-6\.5,
.left-6\.5\@phone {
  left: 3.25rem;
}

.left-7,
.left-7\@phone {
  left: 3.5rem;
}

.left-7\.5,
.left-7\.5\@phone {
  left: 3.75rem;
}

.left-8,
.left-8\@phone {
  left: 4rem;
}

.left-8\.5,
.left-8\.5\@phone {
  left: 4.25rem;
}

.left-9,
.left-9\@phone {
  left: 4.5rem;
}

.left-9\.5,
.left-9\.5\@phone {
  left: 4.75rem;
}

.left-10,
.left-10\@phone {
  left: 5rem;
}

.left-10\.5,
.left-10\.5\@phone {
  left: 5.25rem;
}

.left-11,
.left-11\@phone {
  left: 5.5rem;
}

.left-11\.5,
.left-11\.5\@phone {
  left: 5.75rem;
}

.left-12,
.left-12\@phone {
  left: 6rem;
}

.left-12\.5,
.left-12\.5\@phone {
  left: 6.25rem;
}

.left-13,
.left-13\@phone {
  left: 6.5rem;
}

.left-13\.5,
.left-13\.5\@phone {
  left: 6.75rem;
}

.left-14,
.left-14\@phone {
  left: 7rem;
}

.left-14\.5,
.left-14\.5\@phone {
  left: 7.25rem;
}

.left-15,
.left-15\@phone {
  left: 7.5rem;
}

.left-15\.5,
.left-15\.5\@phone {
  left: 7.75rem;
}

.left-16,
.left-16\@phone {
  left: 8rem;
}

.left-16\.5,
.left-16\.5\@phone {
  left: 8.25rem;
}

.left-17,
.left-17\@phone {
  left: 8.5rem;
}

.left-17\.5,
.left-17\.5\@phone {
  left: 8.75rem;
}

.left-18,
.left-18\@phone {
  left: 9rem;
}

.left-18\.5,
.left-18\.5\@phone {
  left: 9.25rem;
}

.left-19,
.left-19\@phone {
  left: 9.5rem;
}

.left-19\.5,
.left-19\.5\@phone {
  left: 9.75rem;
}

.left-20,
.left-20\@phone {
  left: 10rem;
}

.left-20\.5,
.left-20\.5\@phone {
  left: 10.25rem;
}

.left-21,
.left-21\@phone {
  left: 10.5rem;
}

.left-21\.5,
.left-21\.5\@phone {
  left: 10.75rem;
}

.left-22,
.left-22\@phone {
  left: 11rem;
}

.left-22\.5,
.left-22\.5\@phone {
  left: 11.25rem;
}

.left-23,
.left-23\@phone {
  left: 11.5rem;
}

.left-23\.5,
.left-23\.5\@phone {
  left: 11.75rem;
}

.left-24,
.left-24\@phone {
  left: 12rem;
}

.left-24\.5,
.left-24\.5\@phone {
  left: 12.25rem;
}

.left-25,
.left-25\@phone {
  left: 12.5rem;
}

.left-25\.5,
.left-25\.5\@phone {
  left: 12.75rem;
}

.left-26,
.left-26\@phone {
  left: 13rem;
}

.left-26\.5,
.left-26\.5\@phone {
  left: 13.25rem;
}

.left-27,
.left-27\@phone {
  left: 13.5rem;
}

.left-27\.5,
.left-27\.5\@phone {
  left: 13.75rem;
}

.left-28,
.left-28\@phone {
  left: 14rem;
}

.left-28\.5,
.left-28\.5\@phone {
  left: 14.25rem;
}

.left-29,
.left-29\@phone {
  left: 14.5rem;
}

.left-29\.5,
.left-29\.5\@phone {
  left: 14.75rem;
}

.left-30,
.left-30\@phone {
  left: 15rem;
}

.left-auto,
.left-auto\@phone {
  left: auto;
}

@media (max-width: $small-phone-max-width) {
  .left-0\@small-phone {
    left: 0;
  }

  .left-0\@small-phone {
    left: 0.25rem;
  }

  .left-1\@small-phone {
    left: 0.5rem;
  }

  .left-1\.5\@small-phone {
    left: 0.75rem;
  }

  .left-2\@small-phone {
    left: 1rem;
  }

  .left-2\.5\@small-phone {
    left: 1.25rem;
  }

  .left-3\@small-phone {
    left: 1.5rem;
  }

  .left-3\.5\@small-phone {
    left: 1.75rem;
  }

  .left-4\@small-phone {
    left: 2rem;
  }

  .left-4\.5\@small-phone {
    left: 2.25rem;
  }

  .left-5\@small-phone {
    left: 2.5rem;
  }

  .left-5\.5\@small-phone {
    left: 2.75rem;
  }

  .left-6\@small-phone {
    left: 3rem;
  }

  .left-6\.5\@small-phone {
    left: 3.25rem;
  }

  .left-7\@small-phone {
    left: 3.5rem;
  }

  .left-7\.5\@small-phone {
    left: 3.75rem;
  }

  .left-8\@small-phone {
    left: 4rem;
  }

  .left-8\.5\@small-phone {
    left: 4.25rem;
  }

  .left-9\@small-phone {
    left: 4.5rem;
  }

  .left-9\.5\@small-phone {
    left: 4.75rem;
  }

  .left-10\@small-phone {
    left: 5rem;
  }

  .left-10\.5\@small-phone {
    left: 5.25rem;
  }

  .left-11\@small-phone {
    left: 5.5rem;
  }

  .left-11\.5\@small-phone {
    left: 5.75rem;
  }

  .left-12\@small-phone {
    left: 6rem;
  }

  .left-12\.5\@small-phone {
    left: 6.25rem;
  }

  .left-13\@small-phone {
    left: 6.5rem;
  }

  .left-13\.5\@small-phone {
    left: 6.75rem;
  }

  .left-14\@small-phone {
    left: 7rem;
  }

  .left-14\.5\@small-phone {
    left: 7.25rem;
  }

  .left-15\@small-phone {
    left: 7.5rem;
  }

  .left-15\.5\@small-phone {
    left: 7.75rem;
  }

  .left-16\@small-phone {
    left: 8rem;
  }

  .left-16\.5\@small-phone {
    left: 8.25rem;
  }

  .left-17\@small-phone {
    left: 8.5rem;
  }

  .left-17\.5\@small-phone {
    left: 8.75rem;
  }

  .left-18\@small-phone {
    left: 9rem;
  }

  .left-18\.5\@small-phone {
    left: 9.25rem;
  }

  .left-19\@small-phone {
    left: 9.5rem;
  }

  .left-19\.5\@small-phone {
    left: 9.75rem;
  }

  .left-20\@small-phone {
    left: 10rem;
  }

  .left-20\.5\@small-phone {
    left: 10.25rem;
  }

  .left-21\@small-phone {
    left: 10.5rem;
  }

  .left-21\.5\@small-phone {
    left: 10.75rem;
  }

  .left-22\@small-phone {
    left: 11rem;
  }

  .left-22\.5\@small-phone {
    left: 11.25rem;
  }

  .left-23\@small-phone {
    left: 11.5rem;
  }

  .left-23\.5\@small-phone {
    left: 11.75rem;
  }

  .left-24\@small-phone {
    left: 12rem;
  }

  .left-24\.5\@small-phone {
    left: 12.25rem;
  }

  .left-25\@small-phone {
    left: 12.5rem;
  }

  .left-25\.5\@small-phone {
    left: 12.75rem;
  }

  .left-26\@small-phone {
    left: 13rem;
  }

  .left-26\.5\@small-phone {
    left: 13.25rem;
  }

  .left-27\@small-phone {
    left: 13.5rem;
  }

  .left-27\.5\@small-phone {
    left: 13.75rem;
  }

  .left-28\@small-phone {
    left: 14rem;
  }

  .left-28\.5\@small-phone {
    left: 14.25rem;
  }

  .left-29\@small-phone {
    left: 14.5rem;
  }

  .left-29\.5\@small-phone {
    left: 14.75rem;
  }

  .left-30\@small-phone {
    left: 15rem;
  }

  .left-auto\@small-phone {
    left: auto;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .left-0\@tablet {
    left: 0;
  }

  .left-0\@tablet {
    left: 0.25rem;
  }

  .left-1\@tablet {
    left: 0.5rem;
  }

  .left-1\.5\@tablet {
    left: 0.75rem;
  }

  .left-2\@tablet {
    left: 1rem;
  }

  .left-2\.5\@tablet {
    left: 1.25rem;
  }

  .left-3\@tablet {
    left: 1.5rem;
  }

  .left-3\.5\@tablet {
    left: 1.75rem;
  }

  .left-4\@tablet {
    left: 2rem;
  }

  .left-4\.5\@tablet {
    left: 2.25rem;
  }

  .left-5\@tablet {
    left: 2.5rem;
  }

  .left-5\.5\@tablet {
    left: 2.75rem;
  }

  .left-6\@tablet {
    left: 3rem;
  }

  .left-6\.5\@tablet {
    left: 3.25rem;
  }

  .left-7\@tablet {
    left: 3.5rem;
  }

  .left-7\.5\@tablet {
    left: 3.75rem;
  }

  .left-8\@tablet {
    left: 4rem;
  }

  .left-8\.5\@tablet {
    left: 4.25rem;
  }

  .left-9\@tablet {
    left: 4.5rem;
  }

  .left-9\.5\@tablet {
    left: 4.75rem;
  }

  .left-10\@tablet {
    left: 5rem;
  }

  .left-10\.5\@tablet {
    left: 5.25rem;
  }

  .left-11\@tablet {
    left: 5.5rem;
  }

  .left-11\.5\@tablet {
    left: 5.75rem;
  }

  .left-12\@tablet {
    left: 6rem;
  }

  .left-12\.5\@tablet {
    left: 6.25rem;
  }

  .left-13\@tablet {
    left: 6.5rem;
  }

  .left-13\.5\@tablet {
    left: 6.75rem;
  }

  .left-14\@tablet {
    left: 7rem;
  }

  .left-14\.5\@tablet {
    left: 7.25rem;
  }

  .left-15\@tablet {
    left: 7.5rem;
  }

  .left-15\.5\@tablet {
    left: 7.75rem;
  }

  .left-16\@tablet {
    left: 8rem;
  }

  .left-16\.5\@tablet {
    left: 8.25rem;
  }

  .left-17\@tablet {
    left: 8.5rem;
  }

  .left-17\.5\@tablet {
    left: 8.75rem;
  }

  .left-18\@tablet {
    left: 9rem;
  }

  .left-18\.5\@tablet {
    left: 9.25rem;
  }

  .left-19\@tablet {
    left: 9.5rem;
  }

  .left-19\.5\@tablet {
    left: 9.75rem;
  }

  .left-20\@tablet {
    left: 10rem;
  }

  .left-20\.5\@tablet {
    left: 10.25rem;
  }

  .left-21\@tablet {
    left: 10.5rem;
  }

  .left-21\.5\@tablet {
    left: 10.75rem;
  }

  .left-22\@tablet {
    left: 11rem;
  }

  .left-22\.5\@tablet {
    left: 11.25rem;
  }

  .left-23\@tablet {
    left: 11.5rem;
  }

  .left-23\.5\@tablet {
    left: 11.75rem;
  }

  .left-24\@tablet {
    left: 12rem;
  }

  .left-24\.5\@tablet {
    left: 12.25rem;
  }

  .left-25\@tablet {
    left: 12.5rem;
  }

  .left-25\.5\@tablet {
    left: 12.75rem;
  }

  .left-26\@tablet {
    left: 13rem;
  }

  .left-26\.5\@tablet {
    left: 13.25rem;
  }

  .left-27\@tablet {
    left: 13.5rem;
  }

  .left-27\.5\@tablet {
    left: 13.75rem;
  }

  .left-28\@tablet {
    left: 14rem;
  }

  .left-28\.5\@tablet {
    left: 14.25rem;
  }

  .left-29\@tablet {
    left: 14.5rem;
  }

  .left-29\.5\@tablet {
    left: 14.75rem;
  }

  .left-30\@tablet {
    left: 15rem;
  }

  .left-auto\@tablet {
    left: auto;
  }
}

@media (min-width: $laptop-min-width) {
  .left-0\@laptop {
    left: 0;
  }

  .left-0\@laptop {
    left: 0.25rem;
  }

  .left-1\@laptop {
    left: 0.5rem;
  }

  .left-1\.5\@laptop {
    left: 0.75rem;
  }

  .left-2\@laptop {
    left: 1rem;
  }

  .left-2\.5\@laptop {
    left: 1.25rem;
  }

  .left-3\@laptop {
    left: 1.5rem;
  }

  .left-3\.5\@laptop {
    left: 1.75rem;
  }

  .left-4\@laptop {
    left: 2rem;
  }

  .left-4\.5\@laptop {
    left: 2.25rem;
  }

  .left-5\@laptop {
    left: 2.5rem;
  }

  .left-5\.5\@laptop {
    left: 2.75rem;
  }

  .left-6\@laptop {
    left: 3rem;
  }

  .left-6\.5\@laptop {
    left: 3.25rem;
  }

  .left-7\@laptop {
    left: 3.5rem;
  }

  .left-7\.5\@laptop {
    left: 3.75rem;
  }

  .left-8\@laptop {
    left: 4rem;
  }

  .left-8\.5\@laptop {
    left: 4.25rem;
  }

  .left-9\@laptop {
    left: 4.5rem;
  }

  .left-9\.5\@laptop {
    left: 4.75rem;
  }

  .left-10\@laptop {
    left: 5rem;
  }

  .left-10\.5\@laptop {
    left: 5.25rem;
  }

  .left-11\@laptop {
    left: 5.5rem;
  }

  .left-11\.5\@laptop {
    left: 5.75rem;
  }

  .left-12\@laptop {
    left: 6rem;
  }

  .left-12\.5\@laptop {
    left: 6.25rem;
  }

  .left-13\@laptop {
    left: 6.5rem;
  }

  .left-13\.5\@laptop {
    left: 6.75rem;
  }

  .left-14\@laptop {
    left: 7rem;
  }

  .left-14\.5\@laptop {
    left: 7.25rem;
  }

  .left-15\@laptop {
    left: 7.5rem;
  }

  .left-15\.5\@laptop {
    left: 7.75rem;
  }

  .left-16\@laptop {
    left: 8rem;
  }

  .left-16\.5\@laptop {
    left: 8.25rem;
  }

  .left-17\@laptop {
    left: 8.5rem;
  }

  .left-17\.5\@laptop {
    left: 8.75rem;
  }

  .left-18\@laptop {
    left: 9rem;
  }

  .left-18\.5\@laptop {
    left: 9.25rem;
  }

  .left-19\@tablet {
    left: 9.5rem;
  }

  .left-19\.5\@laptop {
    left: 9.75rem;
  }

  .left-20\@laptop {
    left: 10rem;
  }

  .left-20\.5\@laptop {
    left: 10.25rem;
  }

  .left-21\@tablet {
    left: 10.5rem;
  }

  .left-21\.5\@laptop {
    left: 10.75rem;
  }

  .left-22\@laptop {
    left: 11rem;
  }

  .left-22\.5\@laptop {
    left: 11.25rem;
  }

  .left-23\@laptop {
    left: 11.5rem;
  }

  .left-23\.5\@laptop {
    left: 11.75rem;
  }

  .left-24\@laptop {
    left: 12rem;
  }

  .left-24\.5\@laptop {
    left: 12.25rem;
  }

  .left-25\@laptop {
    left: 12.5rem;
  }

  .left-25\.5\@laptop {
    left: 12.75rem;
  }

  .left-26\@laptop {
    left: 13rem;
  }

  .left-26\.5\@laptop {
    left: 13.25rem;
  }

  .left-27\@laptop {
    left: 13.5rem;
  }

  .left-27\.5\@laptop {
    left: 13.75rem;
  }

  .left-28\@laptop {
    left: 14rem;
  }

  .left-28\.5\@laptop {
    left: 14.25rem;
  }

  .left-29\@laptop {
    left: 14.5rem;
  }

  .left-29\.5\@laptop {
    left: 14.75rem;
  }

  .left-30\@laptop {
    left: 15rem;
  }

  .left-auto\@laptop {
    left: auto;
  }
}
