.ntp {
  border-left: 0.6rem solid lighten(black, 10%);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  padding: 1rem .8rem;
  min-height: 3em;

  .ntp-text {
    font-weight: inherit;
  }
}

.ntp-primary {
  border-color: var(--pendeza-primary);
}

.ntp-secondary {
  border-color: var(--pendeza-secondary);
}

.ntp-success {
  border-color: var(--pendeza-success);
}

.ntp-danger {
  border-color: var(--pendeza-danger);
}

.ntp-warning {
  border-color: var(--pendeza-warning);
}

.ntp-muted {
  border-color: var(--pendeza-muted);
}

.ntp-dark {
  border-color: var(--pendeza-dark);
}

.ntp-light {
  border-color: var(--pendeza-light);
}

.ntp-blue {
  border-color: var(--pendeza-blue);
}

.ntp-green {
  border-color: var(--pendeza-green);
}

.ntp-yellow {
  border-color: var(--pendeza-yellow);
}

.ntp-orange {
  border-color: var(--pendeza-orange);
}

.ntp-pink {
  border-color: var(--pendeza-pink);
}

.ntp-red {
  border-color: var(--pendeza-red);
}

.ntp-purple {
  border-color: var(--pendeza-purple);
}

.ntp-teal {
  border-color: var(--pendeza-teal);
}

.ntp-indigo {
  border-color: var(--pendeza-indigo);
}

.ntp-brown {
  border-color: var(--pendeza-brown);
}

.ntp-violet {
  border-color: var(--pendeza-violet);
}

.ntp-grey {
  border-color: var(--pendeza-grey);
}

.ntp-black {
  border-color: var(--pendeza-black);
}
