.opacity-0\.1 {
  opacity: 0.1;
}

.opacity-0\.2 {
  opacity: 0.2;
}

.opacity-0\.3 {
  opacity: 0.3;
}

.opacity-0\.4 {
  opacity: 0.4;
}

.opacity-0\.5 {
  opacity: 0.5;
}

.opacity-0\.6 {
  opacity: 0.6;
}

.opacity-0\.7 {
  opacity: 0.7;
}

.opacity-0\.8 {
  opacity: 0.8;
}

.opacity-0\.9 {
  opacity: 0.9;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0\.1\:hover:hover {
  opacity: 0.1;
}

.opacity-0\.2\:hover:hover {
  opacity: 0.2;
}

.opacity-0\.3\:hover:hover {
  opacity: 0.3;
}

.opacity-0\.4\:hover:hover {
  opacity: 0.4;
}

.opacity-0\.5\:hover:hover {
  opacity: 0.5;
}

.opacity-0\.6\:hover:hover {
  opacity: 0.6;
}

.opacity-0\.7\:hover:hover {
  opacity: 0.7;
}

.opacity-0\.8\:hover:hover {
  opacity: 0.8;
}

.opacity-0\.9\:hover:hover {
  opacity: 0.9;
}

.opacity-1\:hover:hover {
  opacity: 1;
}

.opacity-0\.1\:focus:focus {
  opacity: 0.1;
}

.opacity-0\.2\:focus:focus {
  opacity: 0.2;
}

.opacity-0\.3\:focus:focus {
  opacity: 0.3;
}

.opacity-0\.4\:focus:focus {
  opacity: 0.4;
}

.opacity-0\.5\:focus:focus {
  opacity: 0.5;
}

.opacity-0\.6\:focus:focus {
  opacity: 0.6;
}

.opacity-0\.7\:focus:focus {
  opacity: 0.7;
}

.opacity-0\.8\:focus:focus {
  opacity: 0.8;
}

.opacity-0\.9\:focus:focus {
  opacity: 0.9;
}

.opacity-1\:focus:focus {
  opacity: 1;
}
