.right-0,
.right-0\@phone {
  right: 0;
}

.right-0\.5,
.right-0\@phone {
  right: 0.25rem;
}

.right-1,
.right-1\@phone {
  right: 0.5rem;
}

.right-1\.5,
.right-1\.5\@phone {
  right: 0.75rem;
}

.right-2,
.right-2\@phone {
  right: 1rem;
}

.right-2\.5,
.right-2\.5\@phone {
  right: 1.25rem;
}

.right-3,
.right-3\@phone {
  right: 1.5rem;
}

.right-3\.5,
.right-3\.5\@phone {
  right: 1.75rem;
}

.right-4,
.right-4\@phone {
  right: 2rem;
}

.right-4\.5,
.right-4\.5\@phone {
  right: 2.25rem;
}

.right-5,
.right-5\@phone {
  right: 2.5rem;
}

.right-5\.5,
.right-5\.5\@phone {
  right: 2.75rem;
}

.right-6,
.right-6\@phone {
  right: 3rem;
}

.right-6\.5,
.right-6\.5\@phone {
  right: 3.25rem;
}

.right-7,
.right-7\@phone {
  right: 3.5rem;
}

.right-7\.5,
.right-7\.5\@phone {
  right: 3.75rem;
}

.right-8,
.right-8\@phone {
  right: 4rem;
}

.right-8\.5,
.right-8\.5\@phone {
  right: 4.25rem;
}

.right-9,
.right-9\@phone {
  right: 4.5rem;
}

.right-9\.5,
.right-9\.5\@phone {
  right: 4.75rem;
}

.right-10,
.right-10\@phone {
  right: 5rem;
}

.right-10\.5,
.right-10\.5\@phone {
  right: 5.25rem;
}

.right-11,
.right-11\@phone {
  right: 5.5rem;
}

.right-11\.5,
.right-11\.5\@phone {
  right: 5.75rem;
}

.right-12,
.right-12\@phone {
  right: 6rem;
}

.right-12\.5,
.right-12\.5\@phone {
  right: 6.25rem;
}

.right-13,
.right-13\@phone {
  right: 6.5rem;
}

.right-13\.5,
.right-13\.5\@phone {
  right: 6.75rem;
}

.right-14,
.right-14\@phone {
  right: 7rem;
}

.right-14\.5,
.right-14\.5\@phone {
  right: 7.25rem;
}

.right-15,
.right-15\@phone {
  right: 7.5rem;
}

.right-15\.5,
.right-15\.5\@phone {
  right: 7.75rem;
}

.right-16,
.right-16\@phone {
  right: 8rem;
}

.right-16\.5,
.right-16\.5\@phone {
  right: 8.25rem;
}

.right-17,
.right-17\@phone {
  right: 8.5rem;
}

.right-17\.5,
.right-17\.5\@phone {
  right: 8.75rem;
}

.right-18,
.right-18\@phone {
  right: 9rem;
}

.right-18\.5,
.right-18\.5\@phone {
  right: 9.25rem;
}

.right-19,
.right-19\@phone {
  right: 9.5rem;
}

.right-19\.5,
.right-19\.5\@phone {
  right: 9.75rem;
}

.right-20,
.right-20\@phone {
  right: 10rem;
}

.right-20\.5,
.right-20\.5\@phone {
  right: 10.25rem;
}

.right-21,
.right-21\@phone {
  right: 10.5rem;
}

.right-21\.5,
.right-21\.5\@phone {
  right: 10.75rem;
}

.right-22,
.right-22\@phone {
  right: 11rem;
}

.right-22\.5,
.right-22\.5\@phone {
  right: 11.25rem;
}

.right-23,
.right-23\@phone {
  right: 11.5rem;
}

.right-23\.5,
.right-23\.5\@phone {
  right: 11.75rem;
}

.right-24,
.right-24\@phone {
  right: 12rem;
}

.right-24\.5,
.right-24\.5\@phone {
  right: 12.25rem;
}

.right-25,
.right-25\@phone {
  right: 12.5rem;
}

.right-25\.5,
.right-25\.5\@phone {
  right: 12.75rem;
}

.right-26,
.right-26\@phone {
  right: 13rem;
}

.right-26\.5,
.right-26\.5\@phone {
  right: 13.25rem;
}

.right-27,
.right-27\@phone {
  right: 13.5rem;
}

.right-27\.5,
.right-27\.5\@phone {
  right: 13.75rem;
}

.right-28,
.right-28\@phone {
  right: 14rem;
}

.right-28\.5,
.right-28\.5\@phone {
  right: 14.25rem;
}

.right-29,
.right-29\@phone {
  right: 14.5rem;
}

.right-29\.5,
.right-29\.5\@phone {
  right: 14.75rem;
}

.right-30,
.right-30\@phone {
  right: 15rem;
}

.right-auto,
.right-auto\@phone {
  right: auto;
}

@media (max-width: $small-phone-max-width) {
  .right-0\@small-phone {
    right: 0;
  }

  .right-0\@small-phone {
    right: 0.25rem;
  }

  .right-1\@small-phone {
    right: 0.5rem;
  }

  .right-1\.5\@small-phone {
    right: 0.75rem;
  }

  .right-2\@small-phone {
    right: 1rem;
  }

  .right-2\.5\@small-phone {
    right: 1.25rem;
  }

  .right-3\@small-phone {
    right: 1.5rem;
  }

  .right-3\.5\@small-phone {
    right: 1.75rem;
  }

  .right-4\@small-phone {
    right: 2rem;
  }

  .right-4\.5\@small-phone {
    right: 2.25rem;
  }

  .right-5\@small-phone {
    right: 2.5rem;
  }

  .right-5\.5\@small-phone {
    right: 2.75rem;
  }

  .right-6\@small-phone {
    right: 3rem;
  }

  .right-6\.5\@small-phone {
    right: 3.25rem;
  }

  .right-7\@small-phone {
    right: 3.5rem;
  }

  .right-7\.5\@small-phone {
    right: 3.75rem;
  }

  .right-8\@small-phone {
    right: 4rem;
  }

  .right-8\.5\@small-phone {
    right: 4.25rem;
  }

  .right-9\@small-phone {
    right: 4.5rem;
  }

  .right-9\.5\@small-phone {
    right: 4.75rem;
  }

  .right-10\@small-phone {
    right: 5rem;
  }

  .right-10\.5\@small-phone {
    right: 5.25rem;
  }

  .right-11\@small-phone {
    right: 5.5rem;
  }

  .right-11\.5\@small-phone {
    right: 5.75rem;
  }

  .right-12\@small-phone {
    right: 6rem;
  }

  .right-12\.5\@small-phone {
    right: 6.25rem;
  }

  .right-13\@small-phone {
    right: 6.5rem;
  }

  .right-13\.5\@small-phone {
    right: 6.75rem;
  }

  .right-14\@small-phone {
    right: 7rem;
  }

  .right-14\.5\@small-phone {
    right: 7.25rem;
  }

  .right-15\@small-phone {
    right: 7.5rem;
  }

  .right-15\.5\@small-phone {
    right: 7.75rem;
  }

  .right-16\@small-phone {
    right: 8rem;
  }

  .right-16\.5\@small-phone {
    right: 8.25rem;
  }

  .right-17\@small-phone {
    right: 8.5rem;
  }

  .right-17\.5\@small-phone {
    right: 8.75rem;
  }

  .right-18\@small-phone {
    right: 9rem;
  }

  .right-18\.5\@small-phone {
    right: 9.25rem;
  }

  .right-19\@small-phone {
    right: 9.5rem;
  }

  .right-19\.5\@small-phone {
    right: 9.75rem;
  }

  .right-20\@small-phone {
    right: 10rem;
  }

  .right-20\.5\@small-phone {
    right: 10.25rem;
  }

  .right-21\@small-phone {
    right: 10.5rem;
  }

  .right-21\.5\@small-phone {
    right: 10.75rem;
  }

  .right-22\@small-phone {
    right: 11rem;
  }

  .right-22\.5\@small-phone {
    right: 11.25rem;
  }

  .right-23\@small-phone {
    right: 11.5rem;
  }

  .right-23\.5\@small-phone {
    right: 11.75rem;
  }

  .right-24\@small-phone {
    right: 12rem;
  }

  .right-24\.5\@small-phone {
    right: 12.25rem;
  }

  .right-25\@small-phone {
    right: 12.5rem;
  }

  .right-25\.5\@small-phone {
    right: 12.75rem;
  }

  .right-26\@small-phone {
    right: 13rem;
  }

  .right-26\.5\@small-phone {
    right: 13.25rem;
  }

  .right-27\@small-phone {
    right: 13.5rem;
  }

  .right-27\.5\@small-phone {
    right: 13.75rem;
  }

  .right-28\@small-phone {
    right: 14rem;
  }

  .right-28\.5\@small-phone {
    right: 14.25rem;
  }

  .right-29\@small-phone {
    right: 14.5rem;
  }

  .right-29\.5\@small-phone {
    right: 14.75rem;
  }

  .right-30\@small-phone {
    right: 15rem;
  }

  .right-auto\@small-phone {
    right: auto;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .right-0\@tablet {
    right: 0;
  }

  .right-0\@tablet {
    right: 0.25rem;
  }

  .right-1\@tablet {
    right: 0.5rem;
  }

  .right-1\.5\@tablet {
    right: 0.75rem;
  }

  .right-2\@tablet {
    right: 1rem;
  }

  .right-2\.5\@tablet {
    right: 1.25rem;
  }

  .right-3\@tablet {
    right: 1.5rem;
  }

  .right-3\.5\@tablet {
    right: 1.75rem;
  }

  .right-4\@tablet {
    right: 2rem;
  }

  .right-4\.5\@tablet {
    right: 2.25rem;
  }

  .right-5\@tablet {
    right: 2.5rem;
  }

  .right-5\.5\@tablet {
    right: 2.75rem;
  }

  .right-6\@tablet {
    right: 3rem;
  }

  .right-6\.5\@tablet {
    right: 3.25rem;
  }

  .right-7\@tablet {
    right: 3.5rem;
  }

  .right-7\.5\@tablet {
    right: 3.75rem;
  }

  .right-8\@tablet {
    right: 4rem;
  }

  .right-8\.5\@tablet {
    right: 4.25rem;
  }

  .right-9\@tablet {
    right: 4.5rem;
  }

  .right-9\.5\@tablet {
    right: 4.75rem;
  }

  .right-10\@tablet {
    right: 5rem;
  }

  .right-10\.5\@tablet {
    right: 5.25rem;
  }

  .right-11\@tablet {
    right: 5.5rem;
  }

  .right-11\.5\@tablet {
    right: 5.75rem;
  }

  .right-12\@tablet {
    right: 6rem;
  }

  .right-12\.5\@tablet {
    right: 6.25rem;
  }

  .right-13\@tablet {
    right: 6.5rem;
  }

  .right-13\.5\@tablet {
    right: 6.75rem;
  }

  .right-14\@tablet {
    right: 7rem;
  }

  .right-14\.5\@tablet {
    right: 7.25rem;
  }

  .right-15\@tablet {
    right: 7.5rem;
  }

  .right-15\.5\@tablet {
    right: 7.75rem;
  }

  .right-16\@tablet {
    right: 8rem;
  }

  .right-16\.5\@tablet {
    right: 8.25rem;
  }

  .right-17\@tablet {
    right: 8.5rem;
  }

  .right-17\.5\@tablet {
    right: 8.75rem;
  }

  .right-18\@tablet {
    right: 9rem;
  }

  .right-18\.5\@tablet {
    right: 9.25rem;
  }

  .right-19\@tablet {
    right: 9.5rem;
  }

  .right-19\.5\@tablet {
    right: 9.75rem;
  }

  .right-20\@tablet {
    right: 10rem;
  }

  .right-20\.5\@tablet {
    right: 10.25rem;
  }

  .right-21\@tablet {
    right: 10.5rem;
  }

  .right-21\.5\@tablet {
    right: 10.75rem;
  }

  .right-22\@tablet {
    right: 11rem;
  }

  .right-22\.5\@tablet {
    right: 11.25rem;
  }

  .right-23\@tablet {
    right: 11.5rem;
  }

  .right-23\.5\@tablet {
    right: 11.75rem;
  }

  .right-24\@tablet {
    right: 12rem;
  }

  .right-24\.5\@tablet {
    right: 12.25rem;
  }

  .right-25\@tablet {
    right: 12.5rem;
  }

  .right-25\.5\@tablet {
    right: 12.75rem;
  }

  .right-26\@tablet {
    right: 13rem;
  }

  .right-26\.5\@tablet {
    right: 13.25rem;
  }

  .right-27\@tablet {
    right: 13.5rem;
  }

  .right-27\.5\@tablet {
    right: 13.75rem;
  }

  .right-28\@tablet {
    right: 14rem;
  }

  .right-28\.5\@tablet {
    right: 14.25rem;
  }

  .right-29\@tablet {
    right: 14.5rem;
  }

  .right-29\.5\@tablet {
    right: 14.75rem;
  }

  .right-30\@tablet {
    right: 15rem;
  }

  .right-auto\@tablet {
    right: auto;
  }
}

@media (min-width: $laptop-min-width) {
  .right-0\@laptop {
    right: 0;
  }

  .right-0\@laptop {
    right: 0.25rem;
  }

  .right-1\@laptop {
    right: 0.5rem;
  }

  .right-1\.5\@laptop {
    right: 0.75rem;
  }

  .right-2\@laptop {
    right: 1rem;
  }

  .right-2\.5\@laptop {
    right: 1.25rem;
  }

  .right-3\@laptop {
    right: 1.5rem;
  }

  .right-3\.5\@laptop {
    right: 1.75rem;
  }

  .right-4\@laptop {
    right: 2rem;
  }

  .right-4\.5\@laptop {
    right: 2.25rem;
  }

  .right-5\@laptop {
    right: 2.5rem;
  }

  .right-5\.5\@laptop {
    right: 2.75rem;
  }

  .right-6\@laptop {
    right: 3rem;
  }

  .right-6\.5\@laptop {
    right: 3.25rem;
  }

  .right-7\@laptop {
    right: 3.5rem;
  }

  .right-7\.5\@laptop {
    right: 3.75rem;
  }

  .right-8\@laptop {
    right: 4rem;
  }

  .right-8\.5\@laptop {
    right: 4.25rem;
  }

  .right-9\@laptop {
    right: 4.5rem;
  }

  .right-9\.5\@laptop {
    right: 4.75rem;
  }

  .right-10\@laptop {
    right: 5rem;
  }

  .right-10\.5\@laptop {
    right: 5.25rem;
  }

  .right-11\@laptop {
    right: 5.5rem;
  }

  .right-11\.5\@laptop {
    right: 5.75rem;
  }

  .right-12\@laptop {
    right: 6rem;
  }

  .right-12\.5\@laptop {
    right: 6.25rem;
  }

  .right-13\@laptop {
    right: 6.5rem;
  }

  .right-13\.5\@laptop {
    right: 6.75rem;
  }

  .right-14\@laptop {
    right: 7rem;
  }

  .right-14\.5\@laptop {
    right: 7.25rem;
  }

  .right-15\@laptop {
    right: 7.5rem;
  }

  .right-15\.5\@laptop {
    right: 7.75rem;
  }

  .right-16\@laptop {
    right: 8rem;
  }

  .right-16\.5\@laptop {
    right: 8.25rem;
  }

  .right-17\@laptop {
    right: 8.5rem;
  }

  .right-17\.5\@laptop {
    right: 8.75rem;
  }

  .right-18\@laptop {
    right: 9rem;
  }

  .right-18\.5\@laptop {
    right: 9.25rem;
  }

  .right-19\@tablet {
    right: 9.5rem;
  }

  .right-19\.5\@laptop {
    right: 9.75rem;
  }

  .right-20\@laptop {
    right: 10rem;
  }

  .right-20\.5\@laptop {
    right: 10.25rem;
  }

  .right-21\@tablet {
    right: 10.5rem;
  }

  .right-21\.5\@laptop {
    right: 10.75rem;
  }

  .right-22\@laptop {
    right: 11rem;
  }

  .right-22\.5\@laptop {
    right: 11.25rem;
  }

  .right-23\@laptop {
    right: 11.5rem;
  }

  .right-23\.5\@laptop {
    right: 11.75rem;
  }

  .right-24\@laptop {
    right: 12rem;
  }

  .right-24\.5\@laptop {
    right: 12.25rem;
  }

  .right-25\@laptop {
    right: 12.5rem;
  }

  .right-25\.5\@laptop {
    right: 12.75rem;
  }

  .right-26\@laptop {
    right: 13rem;
  }

  .right-26\.5\@laptop {
    right: 13.25rem;
  }

  .right-27\@laptop {
    right: 13.5rem;
  }

  .right-27\.5\@laptop {
    right: 13.75rem;
  }

  .right-28\@laptop {
    right: 14rem;
  }

  .right-28\.5\@laptop {
    right: 14.25rem;
  }

  .right-29\@laptop {
    right: 14.5rem;
  }

  .right-29\.5\@laptop {
    right: 14.75rem;
  }

  .right-30\@laptop {
    right: 15rem;
  }

  .right-auto\@laptop {
    right: auto;
  }
}
