.rotate-30deg\@phone,
.rotate-60deg\@phone,
.rotate-90deg\@phone,
.rotate-120deg\@phone,
.rotate-150deg\@phone,
.rotate-180deg\@phone,
.rotate-210deg\@phone,
.rotate-240deg\@phone,
.rotate-270deg\@phone,
.rotate-300deg\@phone,
.rotate-330deg\@phone,
.rotate-360deg\@phone {
  position: absolute;
}

.rotate-30deg\@phone {
  transform: rotate(30deg);
}

.rotate-60deg\@phone {
  transform: rotate(60deg);
}

.rotate-90deg\@phone {
  transform: rotate(90deg);
}

.rotate-120deg\@phone {
  transform: rotate(120deg);
}

.rotate-150deg\@phone {
  transform: rotate(150deg);
}

.rotate-180deg\@phone {
  transform: rotate(180deg);
}

.rotate-210deg\@phone {
  transform: rotate(210deg);
}

.rotate-240deg\@phone {
  transform: rotate(240deg);
}

.rotate-270deg\@phone {
  transform: rotate(270deg);
}

.rotate-300deg\@phone {
  transform: rotate(300deg);
}

.rotate-330deg\@phone {
  transform: rotate(330deg);
}

.rotate-360deg\@phone {
  transform: rotate(360deg);
}

.rotate-30deg\:hover\@phone:hover,
.rotate-60deg\:hover\@phone:hover,
.rotate-90deg\:hover\@phone:hover,
.rotate-120deg\:hover\@phone:hover,
.rotate-150deg\:hover\@phone:hover,
.rotate-180deg\:hover\@phone:hover,
.rotate-210deg\:hover\@phone:hover,
.rotate-240deg\:hover\@phone:hover,
.rotate-270deg\:hover\@phone:hover,
.rotate-300deg\:hover\@phone:hover,
.rotate-330deg\:hover\@phone:hover,
.rotate-360deg\:hover\@phone:hover {
  position: absolute;
  transition: transform .6s .1s ease;
}

.rotate-30deg\:hover\@phone:hover {
  transform: rotate(30deg);
}

.rotate-60deg\:hover\@phone:hover {
  transform: rotate(60deg);
}

.rotate-90deg\:hover\@phone:hover {
  transform: rotate(90deg);
}

.rotate-120deg\:hover\@phone:hover {
  transform: rotate(120deg);
}

.rotate-150deg\:hover\@phone:hover {
  transform: rotate(150deg);
}

.rotate-180deg\:hover\@phone:hover {
  transform: rotate(180deg);
}

.rotate-210deg\:hover\@phone:hover {
  transform: rotate(210deg);
}

.rotate-240deg\:hover\@phone:hover {
  transform: rotate(240deg);
}

.rotate-270deg\:hover\@phone:hover {
  transform: rotate(270deg);
}

.rotate-300deg\:hover\@phone:hover {
  transform: rotate(300deg);
}

.rotate-330deg\:hover\@phone:hover {
  transform: rotate(330deg);
}

.rotate-360deg\:hover\@phone:hover {
  transform: rotate(360deg);
}

@media (max-width: $small-phone-max-width) {
  .rotate-30deg\@small-phone,
  .rotate-60deg\@small-phone,
  .rotate-90deg\@small-phone,
  .rotate-120deg\@small-phone,
  .rotate-150deg\@small-phone,
  .rotate-180deg\@small-phone,
  .rotate-210deg\@small-phone,
  .rotate-240deg\@small-phone,
  .rotate-270deg\@small-phone,
  .rotate-300deg\@small-phone,
  .rotate-330deg\@small-phone,
  .rotate-360deg\@small-phone {
    position: absolute;
  }

  .rotate-30deg\@small-phone {
    transform: rotate(30deg);
  }

  .rotate-60deg\@small-phone {
    transform: rotate(60deg);
  }

  .rotate-90deg\@small-phone {
    transform: rotate(90deg);
  }

  .rotate-120deg\@small-phone {
    transform: rotate(120deg);
  }

  .rotate-150deg\@small-phone {
    transform: rotate(150deg);
  }

  .rotate-180deg\@small-phone {
    transform: rotate(180deg);
  }

  .rotate-210deg\@small-phone {
    transform: rotate(210deg);
  }

  .rotate-240deg\@small-phone {
    transform: rotate(240deg);
  }

  .rotate-270deg\@small-phone {
    transform: rotate(270deg);
  }

  .rotate-300deg\@small-phone {
    transform: rotate(300deg);
  }

  .rotate-330deg\@small-phone {
    transform: rotate(330deg);
  }

  .rotate-360deg\@small-phone {
    transform: rotate(360deg);
  }

  .rotate-30deg\:hover\@small-phone:hover,
  .rotate-60deg\:hover\@small-phone:hover,
  .rotate-90deg\:hover\@small-phone:hover,
  .rotate-120deg\:hover\@small-phone:hover,
  .rotate-150deg\:hover\@small-phone:hover,
  .rotate-180deg\:hover\@small-phone:hover,
  .rotate-210deg\:hover\@small-phone:hover,
  .rotate-240deg\:hover\@small-phone:hover,
  .rotate-270deg\:hover\@small-phone:hover,
  .rotate-300deg\:hover\@small-phone:hover,
  .rotate-330deg\:hover\@small-phone:hover,
  .rotate-360deg\:hover\@small-phone:hover {
    position: absolute;
    transition: transform .6s .1s ease;
  }

  .rotate-30deg\:hover\@small-phone:hover {
    transform: rotate(30deg);
  }

  .rotate-60deg\:hover\@small-phone:hover {
    transform: rotate(60deg);
  }

  .rotate-90deg\:hover\@small-phone:hover {
    transform: rotate(90deg);
  }

  .rotate-120deg\:hover\@small-phone:hover {
    transform: rotate(120deg);
  }

  .rotate-150deg\:hover\@small-phone:hover {
    transform: rotate(150deg);
  }

  .rotate-180deg\:hover\@small-phone:hover {
    transform: rotate(180deg);
  }

  .rotate-210deg\:hover\@small-phone:hover {
    transform: rotate(210deg);
  }

  .rotate-240deg\:hover\@small-phone:hover {
    transform: rotate(240deg);
  }

  .rotate-270deg\:hover\@small-phone:hover {
    transform: rotate(270deg);
  }

  .rotate-300deg\:hover\@small-phone:hover {
    transform: rotate(300deg);
  }

  .rotate-330deg\:hover\@small-phone:hover {
    transform: rotate(330deg);
  }

  .rotate-360deg\:hover\@small-phone:hover {
    transform: rotate(360deg);
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .rotate-30deg\@tablet,
  .rotate-60deg\@tablet,
  .rotate-90deg\@tablet,
  .rotate-120deg\@tablet,
  .rotate-150deg\@tablet,
  .rotate-180deg\@tablet,
  .rotate-210deg\@tablet,
  .rotate-240deg\@tablet,
  .rotate-270deg\@tablet,
  .rotate-300deg\@tablet,
  .rotate-330deg\@tablet,
  .rotate-360deg\@tablet {
    position: absolute;
  }

  .rotate-30deg\@tablet {
    transform: rotate(30deg);
  }

  .rotate-60deg\@tablet {
    transform: rotate(60deg);
  }

  .rotate-90deg\@tablet {
    transform: rotate(90deg);
  }

  .rotate-120deg\@tablet {
    transform: rotate(120deg);
  }

  .rotate-150deg\@tablet {
    transform: rotate(150deg);
  }

  .rotate-180deg\@tablet {
    transform: rotate(180deg);
  }

  .rotate-210deg\@tablet {
    transform: rotate(210deg);
  }

  .rotate-240deg\@tablet {
    transform: rotate(240deg);
  }

  .rotate-270deg\@tablet {
    transform: rotate(270deg);
  }

  .rotate-300deg\@tablet {
    transform: rotate(300deg);
  }

  .rotate-330deg\@tablet {
    transform: rotate(330deg);
  }

  .rotate-360deg\@tablet {
    transform: rotate(360deg);
  }

  .rotate-30deg\:hover\@tablet:hover,
  .rotate-60deg\:hover\@tablet:hover,
  .rotate-90deg\:hover\@tablet:hover,
  .rotate-120deg\:hover\@tablet:hover,
  .rotate-150deg\:hover\@tablet:hover,
  .rotate-180deg\:hover\@tablet:hover,
  .rotate-210deg\:hover\@tablet:hover,
  .rotate-240deg\:hover\@tablet:hover,
  .rotate-270deg\:hover\@tablet:hover,
  .rotate-300deg\:hover\@tablet:hover,
  .rotate-330deg\:hover\@tablet:hover,
  .rotate-360deg\:hover\@tablet:hover {
    position: absolute;
    transition: transform .6s .1s ease;
  }

  .rotate-30deg\:hover\@tablet:hover {
    transform: rotate(30deg);
  }

  .rotate-60deg\:hover\@tablet:hover {
    transform: rotate(60deg);
  }

  .rotate-90deg\:hover\@tablet:hover {
    transform: rotate(90deg);
  }

  .rotate-120deg\:hover\@tablet:hover {
    transform: rotate(120deg);
  }

  .rotate-150deg\:hover\@tablet:hover {
    transform: rotate(150deg);
  }

  .rotate-180\:hover\@tablet:hover {
    transform: rotate(180deg);
  }

  .rotate-210deg\:hover\@tablet:hover {
    transform: rotate(210deg);
  }

  .rotate-240deg\:hover\@tablet:hover {
    transform: rotate(240deg);
  }

  .rotate-270deg\:hover\@tablet:hover {
    transform: rotate(270deg);
  }

  .rotate-300deg\:hover\@tablet:hover {
    transform: rotate(300deg);
  }

  .rotate-330deg\:hover\@tablet:hover {
    transform: rotate(330deg);
  }

  .rotate-360deg\:hover\@tablet:hover {
    transform: rotate(360deg);
  }
}

@media (min-width: $laptop-min-width) {
  .rotate-30deg\@laptop,
  .rotate-60deg\@laptop,
  .rotate-90deg\@laptop,
  .rotate-120deg\@laptop,
  .rotate-150deg\@laptop,
  .rotate-180deg\@laptop,
  .rotate-210deg\@laptop,
  .rotate-240deg\@laptop,
  .rotate-270deg\@laptop,
  .rotate-300deg\@laptop,
  .rotate-330deg\@laptop,
  .rotate-360deg\@laptop {
    position: absolute;
  }

  .rotate-30deg\@laptop {
    transform: rotate(30deg);
  }

  .rotate-60deg\@laptop {
    transform: rotate(60deg);
  }

  .rotate-90deg\@laptop {
    transform: rotate(90deg);
  }

  .rotate-120deg\@laptop {
    transform: rotate(120deg);
  }

  .rotate-150deg\@laptop {
    transform: rotate(150deg);
  }

  .rotate-180deg\@laptop {
    transform: rotate(180deg);
  }

  .rotate-210deg\@laptop {
    transform: rotate(210deg);
  }

  .rotate-240deg\@laptop {
    transform: rotate(240deg);
  }

  .rotate-270deg\@laptop {
    transform: rotate(270deg);
  }

  .rotate-300deg\@laptop {
    transform: rotate(300deg);
  }

  .rotate-330deg\@laptop {
    transform: rotate(330deg);
  }

  .rotate-360deg\@laptop {
    transform: rotate(360deg);
  }

  .rotate-30deg\:hover\@laptop:hover,
  .rotate-60deg\:hover\@laptop:hover,
  .rotate-90deg\:hover\@laptop:hover,
  .rotate-120deg\:hover\@laptop:hover,
  .rotate-150deg\:hover\@laptop:hover,
  .rotate-180deg\:hover\@laptop:hover,
  .rotate-210deg\:hover\@laptop:hover,
  .rotate-240deg\:hover\@laptop:hover,
  .rotate-270deg\:hover\@laptop:hover,
  .rotate-300deg\:hover\@laptop:hover,
  .rotate-330deg\:hover\@laptop:hover,
  .rotate-360deg\:hover\@laptop:hover {
    position: absolute;
    transition: transform .6s .1s ease;
  }

  .rotate-30deg\:hover\@laptop:hover {
    transform: rotate(30deg);
  }

  .rotate-60deg\:hover\@laptop:hover {
    transform: rotate(60deg);
  }

  .rotate-90deg\:hover\@laptop:hover {
    transform: rotate(90deg);
  }

  .rotate-120deg\:hover\@laptop:hover {
    transform: rotate(120deg);
  }

  .rotate-150deg\:hover\@laptop:hover {
    transform: rotate(150deg);
  }

  .rotate-180deg\:hover\@laptop:hover {
    transform: rotate(180deg);
  }

  .rotate-210deg\:hover\@laptop:hover {
    transform: rotate(210deg);
  }

  .rotate-240deg\:hover\@laptop:hover {
    transform: rotate(240deg);
  }

  .rotate-270deg\:hover\@laptop:hover {
    transform: rotate(270deg);
  }

  .rotate-300deg\:hover\@laptop:hover {
    transform: rotate(300deg);
  }

  .rotate-330deg\:hover\@laptop:hover {
    transform: rotate(330deg);
  }

  .rotate-360deg\:hover\@laptop:hover {
    transform: rotate(360deg);
  }
}

