.tooltip {
  position: absolute;
  display: none;
  bottom: 110%;
  padding: 0.8rem;
  background-color: lighten(black, 15%);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  color: white;
}

.tooltip:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 5%;
  border-top: 5px solid;
  border-top-color: lighten(black, 15%);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.tooltip-primary {
  background-color: var(--pendeza-primary);
}

.tooltip.tooltip-primary:after {
  border-top-color: var(--pendeza-primary);
}

.tooltip.tooltip-secondary {
  background-color: var(--pendeza-secondary);
}

.tooltip.tooltip-secondary:after {
  border-top-color: var(--pendeza-secondary);
}

.tooltip.tooltip-success {
  background-color: var(--pendeza-success);
}

.tooltip.tooltip-success:after {
  border-top-color: var(--pendeza-success);
}

.tooltip.tooltip-danger {
  background-color: var(--pendeza-danger);
}

.tooltip.tooltip-danger:after {
  border-top-color: var(--pendeza-danger);
}

.tooltip.tooltip-warning {
  background-color: var(--pendeza-warning);
}

.tooltip.tooltip-warning:after {
  border-top-color: var(--pendeza-warning);
}

.tooltip.tooltip-muted {
  background-color: var(--pendeza-muted);
}

.tooltip.tooltip-muted:after {
  border-top-color: var(--pendeza-muted);
}

.tooltip.tooltip-dark {
  background-color: var(--pendeza-dark);
}

.tooltip.tooltip-dark:after {
  border-top-color: var(--pendeza-dark);
}

.tooltip.tooltip-light {
  background-color: var(--pendeza-light);
  color: var(--pendeza-black);
}

.tooltip.tooltip-light:after {
  border-top-color: var(--pendeza-light);
}

.tooltip.tooltip-blue {
  background-color: var(--pendeza-blue);
}

.tooltip.tooltip-blue:after {
  border-top-color: var(--pendeza-blue);
}

.tooltip.tooltip-green {
  background-color: var(--pendeza-green);
}

.tooltip.tooltip-green:after {
  border-top-color: var(--pendeza-green);
}

.tooltip.tooltip-yellow {
  background-color: var(--pendeza-yellow);
}

.tooltip.tooltip-yellow:after {
  border-top-color: var(--pendeza-yellow);
}

.tooltip.tooltip-orange {
  background-color: var(--pendeza-orange);
}

.tooltip.tooltip-orange:after {
  border-top-color: var(--pendeza-orange);
}

.tooltip.tooltip-pink {
  background-color: var(--pendeza-pink);
}

.tooltip.tooltip-pink:after {
  border-top-color: var(--pendeza-pink);
}

.tooltip.tooltip-red {
  background-color: var(--pendeza-red);
}

.tooltip.tooltip-red:after {
  border-top-color: var(--pendeza-red);
}

.tooltip.tooltip-purple {
  background-color: var(--pendeza-purple);
}

.tooltip.tooltip-purple:after {
  border-top-color: var(--pendeza-purple);
}

.tooltip.tooltip-teal {
  background-color: var(--pendeza-teal);
}

.tooltip.tooltip-teal:after {
  border-top-color: var(--pendeza-teal);
}

.tooltip.tooltip-indigo {
  background-color: var(--pendeza-indigo);
}

.tooltip.tooltip-indigo:after {
  border-top-color: var(--pendeza-indigo);
}

.tooltip.tooltip-brown {
  background-color: var(--pendeza-brown);
}

.tooltip.tooltip-brown:after {
  border-top-color: var(--pendeza-brown);
}

.tooltip.tooltip-violet {
  background-color: var(--pendeza-violet);
}

.tooltip.tooltip-violet:after {
  border-top-color: var(--pendeza-violet);
}

.tooltip.tooltip-grey {
  background-color: var(--pendeza-grey);
}

.tooltip.tooltip-grey:after {
  border-top-color: var(--pendeza-grey);
}

.tooltip.tooltip-black {
  background-color: var(--pendeza-black);
}

.tooltip.tooltip-black:after {
  border-top-color: var(--pendeza-black);
}

*:hover > .tooltip {
  display: block;
}

.tooltip.tooltip-show {
  display: block;
}
