.top-0,
.top-0\@phone {
  top: 0;
}

.top-0\.5,
.top-0\@phone {
  top: 0.25rem;
}

.top-1,
.top-1\@phone {
  top: 0.5rem;
}

.top-1\.5,
.top-1\.5\@phone {
  top: 0.75rem;
}

.top-2,
.top-2\@phone {
  top: 1rem;
}

.top-2\.5,
.top-2\.5\@phone {
  top: 1.25rem;
}

.top-3,
.top-3\@phone {
  top: 1.5rem;
}

.top-3\.5,
.top-3\.5\@phone {
  top: 1.75rem;
}

.top-4,
.top-4\@phone {
  top: 2rem;
}

.top-4\.5,
.top-4\.5\@phone {
  top: 2.25rem;
}

.top-5,
.top-5\@phone {
  top: 2.5rem;
}

.top-5\.5,
.top-5\.5\@phone {
  top: 2.75rem;
}

.top-6,
.top-6\@phone {
  top: 3rem;
}

.top-6\.5,
.top-6\.5\@phone {
  top: 3.25rem;
}

.top-7,
.top-7\@phone {
  top: 3.5;
}

.top-7\.5,
.top-7\.5\@phone {
  top: 3.75rem;
}

.top-8,
.top-8\@phone {
  top: 4rem;
}

.top-8\.5,
.top-8\.5\@phone {
  top: 4.25rem;
}

.top-9,
.top-9\@phone {
  top: 4.5rem;
}

.top-9\.5,
.top-9\.5\@phone {
  top: 4.75rem;
}

.top-10,
.top-10\@phone {
  top: 5rem;
}

.top-10\.5,
.top-10\.5\@phone {
  top: 5.25rem;
}

.top-11,
.top-11\@phone {
  top: 5.5rem;
}

.top-11\.5,
.top-11\.5\@phone {
  top: 5.75rem;
}

.top-12,
.top-12\@phone {
  top: 6rem;
}

.top-12\.5,
.top-12\.5\@phone {
  top: 6.25rem;
}

.top-13,
.top-13\@phone {
  top: 6.5rem;
}

.top-13\.5,
.top-13\.5\@phone {
  top: 6.75rem;
}

.top-14,
.top-14\@phone {
  top: 7rem;
}

.top-14\.5,
.top-14\.5\@phone {
  top: 7.25rem;
}

.top-15,
.top-15\@phone {
  top: 7.5rem;
}

.top-15\.5,
.top-15\.5\@phone {
  top: 7.75rem;
}

.top-16,
.top-16\@phone {
  top: 8rem;
}

.top-16\.5,
.top-16\.5\@phone {
  top: 8.25rem;
}

.top-17,
.top-17\@phone {
  top: 8.5rem;
}

.top-17\.5,
.top-17\.5\@phone {
  top: 8.75rem;
}

.top-18,
.top-18\@phone {
  top: 9rem;
}

.top-18\.5,
.top-18\.5\@phone {
  top: 9.25rem;
}

.top-19,
.top-19\@phone {
  top: 9.5rem;
}

.top-19\.5,
.top-19\.5\@phone {
  top: 9.75rem;
}

.top-20,
.top-20\@phone {
  top: 10rem;
}

.top-20\.5,
.top-20\.5\@phone {
  top: 10.25rem;
}

.top-21,
.top-21\@phone {
  top: 10.5rem;
}

.top-21\.5,
.top-21\.5\@phone {
  top: 10.75rem;
}

.top-22,
.top-22\@phone {
  top: 11rem;
}

.top-22\.5,
.top-22\.5\@phone {
  top: 11.25rem;
}

.top-23,
.top-23\@phone {
  top: 11.5rem;
}

.top-23\.5,
.top-23\.5\@phone {
  top: 11.75rem;
}

.top-24,
.top-24\@phone {
  top: 12rem;
}

.top-24\.5,
.top-24\.5\@phone {
  top: 12.25rem;
}

.top-25,
.top-25\@phone {
  top: 12.5rem;
}

.top-25\.5,
.top-25\.5\@phone {
  top: 12.75rem;
}

.top-26,
.top-26\@phone {
  top: 13rem;
}

.top-26\.5,
.top-26\.5\@phone {
  top: 13.25rem;
}

.top-27,
.top-27\@phone {
  top: 13.5rem;
}

.top-27\.5,
.top-27\.5\@phone {
  top: 13.75rem;
}

.top-28,
.top-28\@phone {
  top: 14rem;
}

.top-28\.5,
.top-28\.5\@phone {
  top: 14.25rem;
}

.top-29,
.top-29\@phone {
  top: 14.5rem;
}

.top-29\.5,
.top-29\.5\@phone {
  top: 14.75rem;
}

.top-30,
.top-30\@phone {
  top: 15rem;
}

.top-auto,
.top-auto\@phone {
  top: auto;
}

@media (max-width: $small-phone-max-width) {
  .top-0\@small-phone {
    top: 0;
  }

  .top-0\@small-phone {
    top: 0.25rem;
  }

  .top-1\@small-phone {
    top: 0.5rem;
  }

  .top-1\.5\@small-phone {
    top: 0.75rem;
  }

  .top-2\@small-phone {
    top: 1rem;
  }

  .top-2\.5\@small-phone {
    top: 1.25rem;
  }

  .top-3\@small-phone {
    top: 1.5rem;
  }

  .top-3\.5\@small-phone {
    top: 1.75rem;
  }

  .top-4\@small-phone {
    top: 2rem;
  }

  .top-4\.5\@small-phone {
    top: 2.25rem;
  }

  .top-5\@small-phone {
    top: 2.5rem;
  }

  .top-5\.5\@small-phone {
    top: 2.75rem;
  }

  .top-6\@small-phone {
    top: 3rem;
  }

  .top-6\.5\@small-phone {
    top: 3.25rem;
  }

  .top-7\@small-phone {
    top: 3.5;
  }

  .top-7\.5\@small-phone {
    top: 3.75rem;
  }

  .top-8\@small-phone {
    top: 4rem;
  }

  .top-8\.5\@small-phone {
    top: 4.25rem;
  }

  .top-9\@small-phone {
    top: 4.5rem;
  }

  .top-9\.5\@small-phone {
    top: 4.75rem;
  }

  .top-10\@small-phone {
    top: 5rem;
  }

  .top-10\.5\@small-phone {
    top: 5.25rem;
  }

  .top-11\@small-phone {
    top: 5.5rem;
  }

  .top-11\.5\@small-phone {
    top: 5.75rem;
  }

  .top-12\@small-phone {
    top: 6rem;
  }

  .top-12\.5\@small-phone {
    top: 6.25rem;
  }

  .top-13\@small-phone {
    top: 6.5rem;
  }

  .top-13\.5\@small-phone {
    top: 6.75rem;
  }

  .top-14\@small-phone {
    top: 7rem;
  }

  .top-14\.5\@small-phone {
    top: 7.25rem;
  }

  .top-15\@small-phone {
    top: 7.5rem;
  }

  .top-15\.5\@small-phone {
    top: 7.75rem;
  }

  .top-16\@small-phone {
    top: 8rem;
  }

  .top-16\.5\@small-phone {
    top: 8.25rem;
  }

  .top-17\@small-phone {
    top: 8.5rem;
  }

  .top-17\.5\@small-phone {
    top: 8.75rem;
  }

  .top-18\@small-phone {
    top: 9rem;
  }

  .top-18\.5\@small-phone {
    top: 9.25rem;
  }

  .top-19\@small-phone {
    top: 9.5rem;
  }

  .top-19\.5\@small-phone {
    top: 9.75rem;
  }

  .top-20\@small-phone {
    top: 10rem;
  }

  .top-20\.5\@small-phone {
    top: 10.25rem;
  }

  .top-21\@small-phone {
    top: 10.5rem;
  }

  .top-21\.5\@small-phone {
    top: 10.75rem;
  }

  .top-22\@small-phone {
    top: 11rem;
  }

  .top-22\.5\@small-phone {
    top: 11.25rem;
  }

  .top-23\@small-phone {
    top: 11.5rem;
  }

  .top-23\.5\@small-phone {
    top: 11.75rem;
  }

  .top-24\@small-phone {
    top: 12rem;
  }

  .top-24\.5\@small-phone {
    top: 12.25rem;
  }

  .top-25\@small-phone {
    top: 12.5rem;
  }

  .top-25\.5\@small-phone {
    top: 12.75rem;
  }

  .top-26\@small-phone {
    top: 13rem;
  }

  .top-26\.5\@small-phone {
    top: 13.25rem;
  }

  .top-27\@small-phone {
    top: 13.5rem;
  }

  .top-27\.5\@small-phone {
    top: 13.75rem;
  }

  .top-28\@small-phone {
    top: 14rem;
  }

  .top-28\.5\@small-phone {
    top: 14.25rem;
  }

  .top-29\@small-phone {
    top: 14.5rem;
  }

  .top-29\.5\@small-phone {
    top: 14.75rem;
  }

  .top-30\@small-phone {
    top: 15rem;
  }

  .top-auto\@small-phone {
    top: auto;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .top-0\@tablet {
    top: 0;
  }

  .top-0\@tablet {
    top: 0.25rem;
  }

  .top-1\@tablet {
    top: 0.5rem;
  }

  .top-1\.5\@tablet {
    top: 0.75rem;
  }

  .top-2\@tablet {
    top: 1rem;
  }

  .top-2\.5\@tablet {
    top: 1.25rem;
  }

  .top-3\@tablet {
    top: 1.5rem;
  }

  .top-3\.5\@tablet {
    top: 1.75rem;
  }

  .top-4\@tablet {
    top: 2rem;
  }

  .top-4\.5\@tablet {
    top: 2.25rem;
  }

  .top-5\@tablet {
    top: 2.5rem;
  }

  .top-5\.5\@tablet {
    top: 2.75rem;
  }

  .top-6\@tablet {
    top: 3rem;
  }

  .top-6\.5\@tablet {
    top: 3.25rem;
  }

  .top-7\@tablet {
    top: 3.5;
  }

  .top-7\.5\@tablet {
    top: 3.75rem;
  }

  .top-8\@tablet {
    top: 4rem;
  }

  .top-8\.5\@tablet {
    top: 4.25rem;
  }

  .top-9\@tablet {
    top: 4.5rem;
  }

  .top-9\.5\@tablet {
    top: 4.75rem;
  }

  .top-10\@tablet {
    top: 5rem;
  }

  .top-10\.5\@tablet {
    top: 5.25rem;
  }

  .top-11\@tablet {
    top: 5.5rem;
  }

  .top-11\.5\@tablet {
    top: 5.75rem;
  }

  .top-12\@tablet {
    top: 6rem;
  }

  .top-12\.5\@tablet {
    top: 6.25rem;
  }

  .top-13\@tablet {
    top: 6.5rem;
  }

  .top-13\.5\@tablet {
    top: 6.75rem;
  }

  .top-14\@tablet {
    top: 7rem;
  }

  .top-14\.5\@tablet {
    top: 7.25rem;
  }

  .top-15\@tablet {
    top: 7.5rem;
  }

  .top-15\.5\@tablet {
    top: 7.75rem;
  }

  .top-16\@tablet {
    top: 8rem;
  }

  .top-16\.5\@tablet {
    top: 8.25rem;
  }

  .top-17\@tablet {
    top: 8.5rem;
  }

  .top-17\.5\@tablet {
    top: 8.75rem;
  }

  .top-18\@tablet {
    top: 9rem;
  }

  .top-18\.5\@tablet {
    top: 9.25rem;
  }

  .top-19\@tablet {
    top: 9.5rem;
  }

  .top-19\.5\@tablet {
    top: 9.75rem;
  }

  .top-20\@tablet {
    top: 10rem;
  }

  .top-20\.5\@tablet {
    top: 10.25rem;
  }

  .top-21\@tablet {
    top: 10.5rem;
  }

  .top-21\.5\@tablet {
    top: 10.75rem;
  }

  .top-22\@tablet {
    top: 11rem;
  }

  .top-22\.5\@tablet {
    top: 11.25rem;
  }

  .top-23\@tablet {
    top: 11.5rem;
  }

  .top-23\.5\@tablet {
    top: 11.75rem;
  }

  .top-24\@tablet {
    top: 12rem;
  }

  .top-24\.5\@tablet {
    top: 12.25rem;
  }

  .top-25\@tablet {
    top: 12.5rem;
  }

  .top-25\.5\@tablet {
    top: 12.75rem;
  }

  .top-26\@tablet {
    top: 13rem;
  }

  .top-26\.5\@tablet {
    top: 13.25rem;
  }

  .top-27\@tablet {
    top: 13.5rem;
  }

  .top-27\.5\@tablet {
    top: 13.75rem;
  }

  .top-28\@tablet {
    top: 14rem;
  }

  .top-28\.5\@tablet {
    top: 14.25rem;
  }

  .top-29\@tablet {
    top: 14.5rem;
  }

  .top-29\.5\@tablet {
    top: 14.75rem;
  }

  .top-30\@tablet {
    top: 15rem;
  }

  .top-auto\@tablet {
    top: auto;
  }
}

@media (min-width: $laptop-min-width) {
  .top-0\@laptop {
    top: 0;
  }

  .top-0\@laptop {
    top: 0.25rem;
  }

  .top-1\@laptop {
    top: 0.5rem;
  }

  .top-1\.5\@laptop {
    top: 0.75rem;
  }

  .top-2\@laptop {
    top: 1rem;
  }

  .top-2\.5\@laptop {
    top: 1.25rem;
  }

  .top-3\@laptop {
    top: 1.5rem;
  }

  .top-3\.5\@laptop {
    top: 1.75rem;
  }

  .top-4\@laptop {
    top: 2rem;
  }

  .top-4\.5\@laptop {
    top: 2.25rem;
  }

  .top-5\@laptop {
    top: 2.5rem;
  }

  .top-5\.5\@laptop {
    top: 2.75rem;
  }

  .top-6\@laptop {
    top: 3rem;
  }

  .top-6\.5\@laptop {
    top: 3.25rem;
  }

  .top-7\@laptop {
    top: 3.5;
  }

  .top-7\.5\@laptop {
    top: 3.75rem;
  }

  .top-8\@laptop {
    top: 4rem;
  }

  .top-8\.5\@laptop {
    top: 4.25rem;
  }

  .top-9\@laptop {
    top: 4.5rem;
  }

  .top-9\.5\@laptop {
    top: 4.75rem;
  }

  .top-10\@laptop {
    top: 5rem;
  }

  .top-10\.5\@laptop {
    top: 5.25rem;
  }

  .top-11\@laptop {
    top: 5.5rem;
  }

  .top-11\.5\@laptop {
    top: 5.75rem;
  }

  .top-12\@laptop {
    top: 6rem;
  }

  .top-12\.5\@laptop {
    top: 6.25rem;
  }

  .top-13\@laptop {
    top: 6.5rem;
  }

  .top-13\.5\@laptop {
    top: 6.75rem;
  }

  .top-14\@laptop {
    top: 7rem;
  }

  .top-14\.5\@laptop {
    top: 7.25rem;
  }

  .top-15\@laptop {
    top: 7.5rem;
  }

  .top-15\.5\@laptop {
    top: 7.75rem;
  }

  .top-16\@laptop {
    top: 8rem;
  }

  .top-16\.5\@laptop {
    top: 8.25rem;
  }

  .top-17\@laptop {
    top: 8.5rem;
  }

  .top-17\.5\@laptop {
    top: 8.75rem;
  }

  .top-18\@laptop {
    top: 9rem;
  }

  .top-18\.5\@laptop {
    top: 9.25rem;
  }

  .top-19\@tablet {
    top: 9.5rem;
  }

  .top-19\.5\@laptop {
    top: 9.75rem;
  }

  .top-20\@laptop {
    top: 10rem;
  }

  .top-20\.5\@laptop {
    top: 10.25rem;
  }

  .top-21\@tablet {
    top: 10.5rem;
  }

  .top-21\.5\@laptop {
    top: 10.75rem;
  }

  .top-22\@laptop {
    top: 11rem;
  }

  .top-22\.5\@laptop {
    top: 11.25rem;
  }

  .top-23\@laptop {
    top: 11.5rem;
  }

  .top-23\.5\@laptop {
    top: 11.75rem;
  }

  .top-24\@laptop {
    top: 12rem;
  }

  .top-24\.5\@laptop {
    top: 12.25rem;
  }

  .top-25\@laptop {
    top: 12.5rem;
  }

  .top-25\.5\@laptop {
    top: 12.75rem;
  }

  .top-26\@laptop {
    top: 13rem;
  }

  .top-26\.5\@laptop {
    top: 13.25rem;
  }

  .top-27\@laptop {
    top: 13.5rem;
  }

  .top-27\.5\@laptop {
    top: 13.75rem;
  }

  .top-28\@laptop {
    top: 14rem;
  }

  .top-28\.5\@laptop {
    top: 14.25rem;
  }

  .top-29\@laptop {
    top: 14.5rem;
  }

  .top-29\.5\@laptop {
    top: 14.75rem;
  }

  .top-30\@laptop {
    top: 15rem;
  }

  .top-auto\@laptop {
    top: auto;
  }
}
