.width-0-on-phone {
  width: 0;
}

.width-0\.5,
.width-0\.5-on-phone {
  width: 0.25rem;
}

.width-1,
.width-1-on-phone {
  width: 0.5rem;
}

.width-1\.5,
.width-1\.5-on-phone {
  width: 0.75rem;
}

.width-2,
.width-2-on-phone {
  width: 1rem;
}

.width-2\.5,
.width-2\.5-on-phone {
  width: 1.25rem;
}

.width-3,
.width-3-on-phone {
  width: 1.5rem;
}

.width-3\.5,
.width-3\.5-on-phone {
  width: 1.75rem;
}

.width-4,
.width-4-on-phone {
  width: 2rem;
}

.width-4\.5,
.width-4\.5-on-phone {
  width: 2.25rem;
}

.width-5,
.width-5-on-phone {
  width: 2.5rem;
}

.width-5\.5,
.width-5\.5-on-phone {
  width: 2.75rem;
}

.width-6,
.width-6-on-phone {
  width: 3rem;
}

.width-6\.5,
.width-6\.5-on-phone {
  width: 3.25rem;
}

.width-7,
.width-7-on-phone {
  width: 3.5rem;
}

.width-7\.5,
.width-7\.5-on-phone {
  width: 3.75rem;
}

.width-8,
.width-8-on-phone {
  width: 4rem;
}

.width-8\.5,
.width-8\.5-on-phone {
  width: 4.25rem;
}

.width-9,
.width-9-on-phone {
  width: 4.5rem;
}

.width-9\.5,
.width-9\.5-on-phone {
  width: 4.75rem;
}

.width-10,
.width-10-on-phone {
  width: 5rem;
}

.width-10\.5,
.width-10\.5-on-phone {
  width: 5.25rem;
}

.width-11,
.width-11-on-phone {
  width: 5.5rem;
}

.width-11\.5,
.width-11\.5-on-phone {
  width: 5.75rem;
}

.width-12,
.width-12-on-phone {
  width: 6rem;
}

.width-12\.5,
.width-12\.5-on-phone {
  width: 6.25rem;
}

.width-13,
.width-13-on-phone {
  width: 6.5rem;
}

.width-13\.5,
.width-13\.5-on-phone {
  width: 6.75rem;
}

.width-14,
.width-14-on-phone {
  width: 7rem;
}

.width-14\.5,
.width-14\.5-on-phone {
  width: 7.25rem;
}

.width-15,
.width-15-on-phone {
  width: 7.5rem;
}

.width-15\.5,
.width-15\.5\@phone {
  width: 7.75rem;
}

.width-16,
.width-16\@phone {
  width: 8rem;
}

.width-16\.5,
.width-16\.5\@phone {
  width: 8.25rem;
}

.width-17,
.width-17\@phone {
  width: 8.5rem;
}

.width-17\.5,
.width-17\.5\@phone {
  width: 8.75rem;
}

.width-18,
.width-18\@phone {
  width: 9rem;
}

.width-18\.5,
.width-18\.5\@phone {
  width: 9.25rem;
}

.width-19,
.width-19\@phone {
  width: 9.5rem;
}

.width-19\.5,
.width-19\.5\@phone {
  width: 9.75rem;
}

.width-20,
.width-20\@phone {
  width: 10rem;
}

.width-20\.5,
.width-20\.5\@phone {
  width: 10.25rem;
}

.width-21,
.width-21\@phone {
  width: 10.5rem;
}

.width-21\.5,
.width-21\.5\@phone {
  width: 10.75rem;
}

.width-22,
.width-22\@phone {
  width: 11rem;
}

.width-22\.5,
.width-22\.5\@phone {
  width: 11.25rem;
}

.width-23,
.width-23\@phone {
  width: 11.5rem;
}

.width-23\.5,
.width-23\.5\@phone {
  width: 11.75rem;
}

.width-24,
.width-24\@phone {
  width: 12rem;
}

.width-24\.5,
.width-24\.5\@phone {
  width: 12.25rem;
}

.width-25,
.width-25\@phone {
  width: 12.5rem;
}

.width-25\.5,
.width-25\.5\@phone {
  width: 12.75rem;
}

.width-26,
.width-26\@phone {
  width: 13rem;
}

.width-26\.5,
.width-26\.5\@phone {
  width: 13.25rem;
}

.width-27,
.width-27\@phone {
  width: 13.5rem;
}

.width-27\.5,
.width-27\.5\@phone {
  width: 13.75rem;
}

.width-28,
.width-28\@phone {
  width: 14rem;
}

.width-28\.5,
.width-28\.5\@phone {
  width: 14.25rem;
}

.width-29,
.width-29\@phone {
  width: 14.5rem;
}

.width-29\.5,
.width-29\.5\@phone {
  width: 14.75rem;
}

.width-30,
.width-30\@phone {
  width: 15rem;
}

.width-10\%,
.width-10\%-on-phone {
  width: 10%;
}

.width-20\%,
.width-20\%-on-phone {
  width: 20%;
}

.width-30\%,
.width-30\%-on-phone {
  width: 30%;
}

.width-40\%,
.width-40\%-on-phone {
  width: 40%;
}

.width-50\%,
.width-50\%-on-phone {
  width: 50%;
}

.width-60\%,
.width-60\%-on-phone {
  width: 60%;
}

.width-70\%,
.width-70\%-on-phone {
  width: 70%;
}

.width-80\%,
.width-80\%-on-phone {
  width: 80%;
}

.width-90\%,
.width-90\%-on-phone {
  width: 90%;
}

.width-100\%,
.width-100\%-on-phone {
  width: 100%;
}

.width-25vw,
.width-25vw-on-phone {
  width: 25vw;
}

.width-50vw,
.width-50vw-on-phone {
  width: 50vw;
}

.width-75vw,
.width-75vw-on-phone {
  width: 75vw;
}

.width-100vw,
.width-100vw-on-phone {
  width: 100vw;
}

.width-125vw,
.width-125vw-on-phone {
  width: 125vw;
}

.width-150vw,
.width-150vw-on-phone {
  width: 150vw;
}

@media (max-width: $small-phone-max-width) {
  .width-0-on-small-phone {
    width: 0;
  }

  .width-0\.5-on-small-phone {
    width: 0.25rem;
  }

  .width-1-on-small-phone {
    width: 0.5rem;
  }

  .width-1\.5-on-small-phone {
    width: 0.75rem;
  }

  .width-2-on-small-phone {
    width: 1rem;
  }

  .width-2\.5-on-small-phone {
    width: 1.25rem;
  }

  .width-3-on-small-phone {
    width: 1.5rem;
  }

  .width-3\.5-on-small-phone {
    width: 1.75rem;
  }

  .width-4-on-small-phone {
    width: 2rem;
  }

  .width-4\.5-on-small-phone {
    width: 2.25rem;
  }

  .width-5-on-small-phone {
    width: 2.5rem;
  }

  .width-5\.5-on-small-phone {
    width: 2.75rem;
  }

  .width-6-on-small-phone {
    width: 3rem;
  }

  .width-6\.5-on-small-phone {
    width: 3.25rem;
  }

  .width-7-on-small-phone {
    width: 3.5rem;
  }

  .width-7\.5-on-small-phone {
    width: 3.75rem;
  }

  .width-8-on-small-phone {
    width: 4rem;
  }

  .width-8\.5-on-small-phone {
    width: 4.25rem;
  }

  .width-9-on-small-phone {
    width: 4.5rem;
  }

  .width-9\.5-on-small-phone {
    width: 4.75rem;
  }

  .width-10-on-small-phone {
    width: 5rem;
  }

  .width-10\.5-on-small-phone {
    width: 5.25rem;
  }

  .width-11-on-small-phone {
    width: 5.5rem;
  }

  .width-11\.5-on-small-phone {
    width: 5.75rem;
  }

  .width-12-on-small-phone {
    width: 6rem;
  }

  .width-12\.5-on-small-phone {
    width: 6.25rem;
  }

  .width-13-on-small-phone {
    width: 6.5rem;
  }

  .width-13\.5-on-small-phone {
    width: 6.75rem;
  }

  .width-14-on-small-phone {
    width: 7rem;
  }

  .width-14\.5-on-small-phone {
    width: 7.25rem;
  }

  .width-15-on-small-phone {
    width: 7.5rem;
  }

  .width-15\.5\@small-phone {
    width: 7.75rem;
  }

  .width-16\@small-phone {
    width: 8rem;
  }

  .width-16\.5\@small-phone {
    width: 8.25rem;
  }

  .width-17\@small-phone {
    width: 8.5rem;
  }

  .width-17\.5\@small-phone {
    width: 8.75rem;
  }

  .width-18\@small-phone {
    width: 9rem;
  }

  .width-18\.5\@small-phone {
    width: 9.25rem;
  }

  .width-19\@small-phone {
    width: 9.5rem;
  }

  .width-19\.5\@small-phone {
    width: 9.75rem;
  }

  .width-20\@small-phone {
    width: 10rem;
  }

  .width-20\.5\@small-phone {
    width: 10.25rem;
  }

  .width-21\@small-phone {
    width: 10.5rem;
  }

  .width-21\.5\@small-phone {
    width: 10.75rem;
  }

  .width-22\@small-phone {
    width: 11rem;
  }

  .width-22\.5\@small-phone {
    width: 11.25rem;
  }

  .width-23\@small-phone {
    width: 11.5rem;
  }

  .width-23\.5\@small-phone {
    width: 11.75rem;
  }

  .width-24\@small-phone {
    width: 12rem;
  }

  .width-24\.5\@small-phone {
    width: 12.25rem;
  }

  .width-25\@small-phone {
    width: 12.5rem;
  }

  .width-25\.5\@small-phone {
    width: 12.75rem;
  }

  .width-26\@small-phone {
    width: 13rem;
  }

  .width-26\.5\@small-phone {
    width: 13.25rem;
  }

  .width-27\@small-phone {
    width: 13.5rem;
  }

  .width-27\.5\@small-phone {
    width: 13.75rem;
  }

  .width-28\@small-phone {
    width: 14rem;
  }

  .width-28\.5\@small-phone {
    width: 14.25rem;
  }

  .width-29\@small-phone {
    width: 14.5rem;
  }

  .width-29\.5\@small-phone {
    width: 14.75rem;
  }

  .width-30\@small-phone {
    width: 15rem;
  }

  .width-10\%-on-small-phone {
    width: 10%;
  }

  .width-20\%-on-small-phone {
    width: 20%;
  }

  .width-30\%-on-small-phone {
    width: 30%;
  }

  .width-40\%-on-small-phone {
    width: 40%;
  }

  .width-50\%-on-small-phone {
    width: 50%;
  }

  .width-60\%-on-small-phone {
    width: 60%;
  }

  .width-70\%-on-small-phone {
    width: 70%;
  }

  .width-80\%-on-small-phone {
    width: 80%;
  }

  .width-90\%-on-small-phone {
    width: 90%;
  }

  .width-100\%-on-small-phone {
    width: 100%;
  }

  .width-25vw-on-small-phone {
    width: 25vw;
  }

  .width-50vw-on-small-phone {
    width: 50vw;
  }

  .width-75vw-on-small-phone {
    width: 75vw;
  }

  .width-100vw-on-small-phone {
    width: 100vw;
  }

  .width-125vw-on-small-phone {
    width: 125vw;
  }

  .width-150vw-on-small-phone {
    width: 150vw;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .width-0-on-tablet {
    width: 0;
  }

  .width-0\.5-on-tablet {
    width: 0.25rem;
  }

  .width-1-on-tablet {
    width: 0.5rem;
  }

  .width-1\.5-on-tablet {
    width: 0.75rem;
  }

  .width-2-on-tablet {
    width: 1rem;
  }

  .width-2\.5-on-tablet {
    width: 1.25rem;
  }

  .width-3-on-tablet {
    width: 1.5rem;
  }

  .width-3\.5-on-tablet {
    width: 1.75rem;
  }

  .width-4-on-tablet {
    width: 2rem;
  }

  .width-4\.5-on-tablet {
    width: 2.25rem;
  }

  .width-5-on-tablet {
    width: 2.5rem;
  }

  .width-5\.5-on-tablet {
    width: 2.75rem;
  }

  .width-6-on-tablet {
    width: 3rem;
  }

  .width-6\.5-on-tablet {
    width: 3.25rem;
  }

  .width-7-on-tablet {
    width: 3.5rem;
  }

  .width-7\.5-on-tablet {
    width: 3.75rem;
  }

  .width-8-on-tablet {
    width: 4rem;
  }

  .width-8\.5-on-tablet {
    width: 4.25rem;
  }

  .width-9-on-tablet {
    width: 4.5rem;
  }

  .width-9\.5-on-tablet {
    width: 4.75rem;
  }

  .width-10-on-tablet {
    width: 5rem;
  }

  .width-10\.5-on-tablet {
    width: 5.25rem;
  }

  .width-11-on-tablet {
    width: 5.5rem;
  }

  .width-11\.5-on-tablet {
    width: 5.75rem;
  }

  .width-12-on-tablet {
    width: 6rem;
  }

  .width-12\.5-on-tablet {
    width: 6.25rem;
  }

  .width-13-on-tablet {
    width: 6.5rem;
  }

  .width-13\.5-on-tablet {
    width: 6.75rem;
  }

  .width-14-on-tablet {
    width: 7rem;
  }

  .width-14\.5-on-tablet {
    width: 7.25rem;
  }

  .width-15-on-tablet {
    width: 7.5rem;
  }

  .width-15\.5\@tablet {
    width: 7.75rem;
  }

  .width-16\@tablet {
    width: 8rem;
  }

  .width-16\.5\@tablet {
    width: 8.25rem;
  }

  .width-17\@tablet {
    width: 8.5rem;
  }

  .width-17\.5\@tablet {
    width: 8.75rem;
  }

  .width-18\@tablet {
    width: 9rem;
  }

  .width-18\.5\@tablet {
    width: 9.25rem;
  }

  .width-19\@tablet {
    width: 9.5rem;
  }

  .width-19\.5\@tablet {
    width: 9.75rem;
  }

  .width-20\@tablet {
    width: 10rem;
  }

  .width-20\.5\@tablet {
    width: 10.25rem;
  }

  .width-21\@tablet {
    width: 10.5rem;
  }

  .width-21\.5\@tablet {
    width: 10.75rem;
  }

  .width-22\@tablet {
    width: 11rem;
  }

  .width-22\.5\@tablet {
    width: 11.25rem;
  }

  .width-23\@tablet {
    width: 11.5rem;
  }

  .width-23\.5\@tablet {
    width: 11.75rem;
  }

  .width-24\@tablet {
    width: 12rem;
  }

  .width-24\.5\@tablet {
    width: 12.25rem;
  }

  .width-25\@tablet {
    width: 12.5rem;
  }

  .width-25\.5\@tablet {
    width: 12.75rem;
  }

  .width-26\@tablet {
    width: 13rem;
  }

  .width-26\.5\@tablet {
    width: 13.25rem;
  }

  .width-27\@tablet {
    width: 13.5rem;
  }

  .width-27\.5\@tablet {
    width: 13.75rem;
  }

  .width-28\@tablet {
    width: 14rem;
  }

  .width-28\.5\@tablet {
    width: 14.25rem;
  }

  .width-29\@tablet {
    width: 14.5rem;
  }

  .width-29\.5\@tablet {
    width: 14.75rem;
  }

  .width-30\@tablet {
    width: 15rem;
  }

  .width-10\%-on-tablet {
    width: 10%;
  }

  .width-20\%-on-tablet {
    width: 20%;
  }

  .width-30\%-on-tablet {
    width: 30%;
  }

  .width-40\%-on-tablet {
    width: 40%;
  }

  .width-50\%-on-tablet {
    width: 50%;
  }

  .width-60\%-on-tablet {
    width: 60%;
  }

  .width-70\%-on-tablet {
    width: 70%;
  }

  .width-80\%-on-tablet {
    width: 80%;
  }

  .width-90\%-on-tablet {
    width: 90%;
  }

  .width-100\%-on-tablet {
    width: 100%;
  }

  .width-25vw-on-tablet {
    width: 25vw;
  }

  .width-50vw-on-tablet {
    width: 50vw;
  }

  .width-75vw-on-tablet {
    width: 75vw;
  }

  .width-100vw-on-tablet {
    width: 100vw;
  }

  .width-125vw-on-tablet {
    width: 125vw;
  }

  .width-150vw-on-tablet {
    width: 150vw;
  }
}

@media (min-width: $laptop_min_width) {
  .width-0-on-laptop {
    width: 0;
  }

  .width-0\.5-on-laptop {
    width: 0.25rem;
  }

  .width-1-on-laptop {
    width: 0.5rem;
  }

  .width-1\.5-on-laptop {
    width: 0.75rem;
  }

  .width-2-on-laptop {
    width: 1rem;
  }

  .width-2\.5-on-laptop {
    width: 1.25rem;
  }

  .width-3-on-laptop {
    width: 1.5rem;
  }

  .width-3\.5-on-laptop {
    width: 1.75rem;
  }

  .width-4-on-laptop {
    width: 2rem;
  }

  .width-4\.5-on-laptop {
    width: 2.25rem;
  }

  .width-5-on-laptop {
    width: 2.5rem;
  }

  .width-5\.5-on-laptop {
    width: 2.75rem;
  }

  .width-6-on-laptop {
    width: 3rem;
  }

  .width-6\.5-on-laptop {
    width: 3.25rem;
  }

  .width-7-on-laptop {
    width: 3.5rem;
  }

  .width-7\.5-on-laptop {
    width: 3.75rem;
  }

  .width-8-on-laptop {
    width: 4rem;
  }

  .width-8\.5-on-laptop {
    width: 4.25rem;
  }

  .width-9-on-laptop {
    width: 4.5rem;
  }

  .width-9\.5-on-laptop {
    width: 4.75rem;
  }

  .width-10-on-laptop {
    width: 5rem;
  }

  .width-10\.5-on-laptop {
    width: 5.25rem;
  }

  .width-11-on-laptop {
    width: 5.5rem;
  }

  .width-11\.5-on-laptop {
    width: 5.75rem;
  }

  .width-12-on-laptop {
    width: 6rem;
  }

  .width-12\.5-on-laptop {
    width: 6.25rem;
  }

  .width-13-on-laptop {
    width: 6.5rem;
  }

  .width-13\.5-on-laptop {
    width: 6.75rem;
  }

  .width-14-on-laptop {
    width: 7rem;
  }

  .width-14\.5-on-laptop {
    width: 7.25rem;
  }

  .width-15-on-laptop {
    width: 7.5rem;
  }

  .width-15\.5\@laptop {
    width: 7.75rem;
  }

  .width-16\@laptop {
    width: 8rem;
  }

  .width-16\.5\@laptop {
    width: 8.25rem;
  }

  .width-17\@laptop {
    width: 8.5rem;
  }

  .width-17\.5\@laptop {
    width: 8.75rem;
  }

  .width-18\@laptop {
    width: 9rem;
  }

  .width-18\.5\@laptop {
    width: 9.25rem;
  }

  .width-19\@laptop {
    width: 9.5rem;
  }

  .width-19\.5\@laptop {
    width: 9.75rem;
  }

  .width-20\@laptop {
    width: 10rem;
  }

  .width-20\.5\@laptop {
    width: 10.25rem;
  }

  .width-21\@laptop {
    width: 10.5rem;
  }

  .width-21\.5\@laptop {
    width: 10.75rem;
  }

  .width-22\@laptop {
    width: 11rem;
  }

  .width-22\.5\@laptop {
    width: 11.25rem;
  }

  .width-23\@laptop {
    width: 11.5rem;
  }

  .width-23\.5\@laptop {
    width: 11.75rem;
  }

  .width-24\@laptop {
    width: 12rem;
  }

  .width-24\.5\@laptop {
    width: 12.25rem;
  }

  .width-25\@laptop {
    width: 12.5rem;
  }

  .width-25\.5\@laptop {
    width: 12.75rem;
  }

  .width-26\@laptop {
    width: 13rem;
  }

  .width-26\.5\@laptop {
    width: 13.25rem;
  }

  .width-27\@laptop {
    width: 13.5rem;
  }

  .width-27\.5\@laptop {
    width: 13.75rem;
  }

  .width-28\@laptop {
    width: 14rem;
  }

  .width-28\.5\@laptop {
    width: 14.25rem;
  }

  .width-29\@laptop {
    width: 14.5rem;
  }

  .width-29\.5\@laptop {
    width: 14.75rem;
  }

  .width-30\@laptop {
    width: 15rem;
  }

  .width-10\%-on-laptop {
    width: 10%;
  }

  .width-20\%-on-laptop {
    width: 20%;
  }

  .width-30\%-on-laptop {
    width: 30%;
  }

  .width-40\%-on-laptop {
    width: 40%;
  }

  .width-50\%-on-laptop {
    width: 50%;
  }

  .width-60\%-on-laptop {
    width: 60%;
  }

  .width-70\%-on-laptop {
    width: 70%;
  }

  .width-80\%-on-laptop {
    width: 80%;
  }

  .width-90\%-on-laptop {
    width: 90%;
  }

  .width-100\%-on-laptop {
    width: 100%;
  }

  .width-25vw-on-laptop {
    width: 25vw;
  }

  .width-50vw-on-laptop {
    width: 50vw;
  }

  .width-75vw-on-laptop {
    width: 75vw;
  }

  .width-100vw-on-laptop {
    width: 100vw;
  }

  .width-125vw-on-laptop {
    width: 125vw;
  }

  .width-150vw-on-laptop {
    width: 150vw;
  }
}
